doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 

    .icons-pack
      .div
        svg.icon
          use(href='#settings')
        span settings
      .div
        svg.icon
          use(href='#catalog')
        span catalog
      .div
        svg.icon
          use(href='#vasha_apteka')
        span vasha_apteka
      .div
        svg.icon
          use(href='#barcode')
        span barcode
      .div
        svg.icon
          use(href='#microphone')
        span microphone
      .div
        svg.icon
          use(href='#search')
        span search
      .div
        svg.icon
          use(href='#close')
        span close
      .div
        svg.icon
          use(href='#clock')
        span clock
      .div
        svg.icon
          use(href='#filter')
        span filter
      .div
        svg.icon
          use(href='#sort')
        span sort
      .div
        svg.icon
          use(href='#view1')
        span view1
      .div
        svg.icon
          use(href='#view2')
        span view2
      .div
        svg.icon
          use(href='#category1')
        span category1
      .div
        svg.icon
          use(href='#category2')
        span category2
      .div
        svg.icon
          use(href='#category3')
        span category3
      .div
        svg.icon
          use(href='#category4')
        span category4
      .div
        svg.icon
          use(href='#category5')
        span category5
      .div
        svg.icon
          use(href='#category6')
        span category6
      .div
        svg.icon
          use(href='#category7')
        span category7
      .div
        svg.icon
          use(href='#category8')
        span category8
      .div
        svg.icon
          use(href='#arrow_right')
        span arrow_right
      .div
        svg.icon
          use(href='#arrow_left')
        span arrow_left
      .div
        svg.icon
          use(href='#document')
        span document
      .div
        svg.icon
          use(href='#who_can_1')
        span who_can_1
      .div
        svg.icon
          use(href='#who_can_2')
        span who_can_2
      .div
        svg.icon
          use(href='#who_can_3')
        span who_can_3
      .div
        svg.icon
          use(href='#who_can_4')
        span who_can_4
      .div
        svg.icon
          use(href='#who_can_5')
        span who_can_5
      .div
        svg.icon
          use(href='#who_can_6')
        span who_can_6
      .div
        svg.icon
          use(href='#who_can_7')
        span who_can_7
      .div
        svg.icon
          use(href='#who_can_8')
        span who_can_8
      .div
        svg.icon
          use(href='#icon_check')
        span icon_check
      .div
        svg.icon
          use(href='#icon_info')
        span icon_info
      .div
        svg.icon
          use(href='#icon_info_o')
        span icon_info_o
      .div
        svg.icon
          use(href='#icon_minus')
        span icon_minus
      .div
        svg.icon
          use(href='#plus')
        span plus
      .div
        svg.icon
          use(href='#minus')
        span minus
      .div
        svg.icon
          use(href='#check_success')
        span check_success
      .div
        svg.icon
          use(href='#info_alert')
        span info_alert
      .div
        svg.icon
          use(href='#cart_check')
        span cart_check
      .div
        svg.icon
          use(href='#star')
        span star
      .div
        svg.icon
          use(href='#back')
        span back
      .div
        svg.icon
          use(href='#like')
        span like
      .div
        svg.icon
          use(href='#dislike')
        span dislike
      .div
        svg.icon
          use(href='#checkbox')
        span checkbox
      .div
        svg.icon
          use(href='#trash')
        span trash
      .div
        svg.icon
          use(href='#count_minus')
        span count_minus
      .div
        svg.icon
          use(href='#count_plus')
        span count_plus
      .div
        svg.icon
          use(href='#favorites')
        span favorites

    include ./_include/_svg
    style.
      body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
      .icons-pack {
        display: flex;
        flex-wrap: wrap;
      }
      .icons-pack .div {
        display: flex;
        align-items: center;
        padding: 10px;
      }
      .icons-pack .div .icon {
        width: 100px;
        height: 100px;
        padding-right: 10px;
      }