doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram bot apteka911
    link(rel='stylesheet', href='./css/style.min.css?v0')
  body 
    #app.app
      #section1.section.section1
        button(type="button").btn-buy#j_test_01
          span Купить
        .section1__navigation
          .section1__navigation-round
          .section1__navigation-wrapper
            button(type="button").section1__navigation-btn.--your-pharmacy
              svg.icon
                use(href='#vasha_apteca-new')
              span Ваша аптека
            button(type="button").section1__navigation-btn.--catalog
              svg.icon
                use(href='#Storefront')
              span Каталог товаров
            button(type="button").section1__navigation-btn.--settings
              svg.icon
                use(href='#settings-2')
              span Настройки
      #section2.section.section2(style="display: none")
      #section3.section.section3(style="display: none")
      #section4.section.section4(style="display: none")
      #section5.section.section5(style="display: none")
      #section6.section.section6(style="display: none")
      #section7.section.section7(style="display: none")
      button(type="button" style="display: none")#appButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count 5
          span товаров. Оформить

    script(src="./js/jquery/jquery-3.3.1.min.js")
    script(src="./js/jquery/jquery-migrate-3.0.1.min.js")
    script(src="./js/common.js?v1")

    svg(width='0' height='0' style="display: none")
      symbol#settings-2(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.2337 7.125H3.75C3.33579 7.125 3 7.46079 3 7.875C3 8.28921 3.33579 8.625 3.75 8.625H7.2337C7.55641 9.70931 8.56087 10.5 9.75 10.5C10.9391 10.5 11.9436 9.70931 12.2663 8.625H20.25C20.6642 8.625 21 8.28921 21 7.875C21 7.46079 20.6642 7.125 20.25 7.125H12.2663C11.9436 6.04069 10.9391 5.25 9.75 5.25C8.56087 5.25 7.55641 6.04069 7.2337 7.125ZM8.625 7.875C8.625 7.25368 9.12868 6.75 9.75 6.75C10.3713 6.75 10.875 7.25368 10.875 7.875C10.875 8.49632 10.3713 9 9.75 9C9.12868 9 8.625 8.49632 8.625 7.875Z' fill='white')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M3.75 15.375H13.2337C13.5564 14.2907 14.5609 13.5 15.75 13.5C16.9391 13.5 17.9436 14.2907 18.2663 15.375H20.25C20.6642 15.375 21 15.7108 21 16.125C21 16.5392 20.6642 16.875 20.25 16.875H18.2663C17.9436 17.9593 16.9391 18.75 15.75 18.75C14.5609 18.75 13.5564 17.9593 13.2337 16.875H3.75C3.33579 16.875 3 16.5392 3 16.125C3 15.7108 3.33579 15.375 3.75 15.375ZM15.75 15C15.1287 15 14.625 15.5037 14.625 16.125C14.625 16.7463 15.1287 17.25 15.75 17.25C16.3713 17.25 16.875 16.7463 16.875 16.125C16.875 15.5037 16.3713 15 15.75 15Z' fill='white')
      symbol#Storefront(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M3.98432 1.59961H20.0242C20.3837 1.60257 20.7326 1.72092 21.0197 1.93717C21.3068 2.15342 21.5169 2.45617 21.6189 2.80081L21.6213 2.80876L23.1704 8.24711C23.1727 8.25535 23.1749 8.26362 23.177 8.27191C23.194 8.33987 23.2019 8.40905 23.2009 8.47774V10.2001C23.2009 11.3317 22.7514 12.417 21.9512 13.2171C21.7997 13.3686 21.638 13.5075 21.4677 13.6332V20.6002C21.4677 21.0423 21.2921 21.4662 20.9796 21.7787C20.667 22.0913 20.2431 22.2669 19.801 22.2669H4.20104C3.75902 22.2669 3.33509 22.0913 3.02253 21.7787C2.70997 21.4662 2.53437 21.0423 2.53437 20.6002V13.6332C2.36406 13.5075 2.20235 13.3686 2.05085 13.2171C1.25069 12.417 0.801172 11.3317 0.801172 10.2001V8.49158C0.798644 8.41104 0.808339 8.32875 0.831594 8.24711L2.38303 2.8008C2.48508 2.45616 2.69517 2.15342 2.98226 1.93717C3.26936 1.72092 3.61832 1.6026 3.97773 1.59964L3.98432 1.59961ZM20.3693 12.4477C20.2981 12.4764 20.2319 12.515 20.1725 12.5619C19.7939 12.7603 19.3696 12.8668 18.9342 12.8668C18.227 12.8668 17.5487 12.5858 17.0486 12.0857C16.5534 11.5905 16.2731 10.9206 16.2677 10.2208C16.2677 10.2139 16.2677 10.207 16.2677 10.2001V9.26628H21.6009V10.2001C21.6009 10.9074 21.32 11.5857 20.8199 12.0857C20.6821 12.2235 20.5309 12.3446 20.3693 12.4477ZM15.4676 12.6876C15.602 12.8748 15.7522 13.052 15.9173 13.2171C16.7174 14.0173 17.8027 14.4668 18.9342 14.4668C19.2508 14.4668 19.5637 14.4316 19.8677 14.3634V20.6002C19.8677 20.6179 19.8607 20.6349 19.8482 20.6474C19.8357 20.6599 19.8187 20.6669 19.801 20.6669H4.20104C4.18336 20.6669 4.1664 20.6599 4.1539 20.6474C4.1414 20.6349 4.13437 20.6179 4.13437 20.6002V14.3634C4.43842 14.4316 4.75132 14.4668 5.06784 14.4668C6.19943 14.4668 7.28467 14.0173 8.08483 13.2171C8.24991 13.052 8.40007 12.8748 8.53444 12.6876C8.66881 12.8748 8.81897 13.052 8.98405 13.2171C9.78421 14.0173 10.8694 14.4668 12.001 14.4668C13.1326 14.4668 14.2179 14.0173 15.018 13.2171C15.1831 13.052 15.3333 12.8748 15.4676 12.6876ZM14.6676 9.26628V10.2001C14.6676 10.207 14.6676 10.2139 14.6676 10.2208C14.6622 10.9206 14.3819 11.5905 13.8867 12.0857C13.3866 12.5858 12.7083 12.8668 12.001 12.8668C11.2938 12.8668 10.6155 12.5858 10.1154 12.0857C9.62019 11.5905 9.33987 10.9206 9.33445 10.2208L9.3345 10.2001V9.26628H14.6676ZM2.40117 9.26628H7.73437V10.2001L7.73442 10.2208C7.72901 10.9206 7.44869 11.5905 6.95346 12.0857C6.45336 12.5858 5.77508 12.8668 5.06784 12.8668C4.6325 12.8668 4.20813 12.7603 3.82954 12.5619C3.77018 12.515 3.70401 12.4764 3.63277 12.4477C3.47115 12.3446 3.31993 12.2235 3.18222 12.0857C2.68212 11.5857 2.40117 10.9074 2.40117 10.2001V9.26628ZM2.6607 7.66628H21.3413L20.0842 3.25326C20.0793 3.23809 20.0698 3.22478 20.0571 3.21518C20.0442 3.20549 20.0286 3.20005 20.0126 3.19961H3.9894C3.97333 3.20005 3.95778 3.20549 3.94491 3.21518C3.93216 3.22479 3.92269 3.23809 3.91779 3.25326L2.6607 7.66628Z' fill='white')
      symbol#vasha_apteca-new(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M10.1001 4C9.38178 4 8.79945 4.58233 8.79945 5.30068V8.79965H5.30068C4.58233 8.79965 4 9.38198 4 10.1003V13.899C4 14.6173 4.58233 15.1996 5.30068 15.1996H8.79945V18.6993C8.79945 19.4177 9.38178 20 10.1001 20H13.8988C14.6171 20 15.1994 19.4177 15.1994 18.6993V15.1996H18.6993C19.4177 15.1996 20 14.6173 20 13.899V10.1003C20 9.38198 19.4177 8.79965 18.6993 8.79965H15.1994V5.30068C15.1994 4.58233 14.6171 4 13.8988 4H10.1001ZM5.44 10.2396H10.2394V5.44H13.7594V10.2396H18.56V13.7596H13.7594V18.56H10.2394V13.7596H5.44V10.2396Z' fill='white')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12ZM12 22.56C6.16787 22.56 1.44 17.8321 1.44 12C1.44 6.16787 6.16787 1.44 12 1.44C17.8321 1.44 22.56 6.16787 22.56 12C22.56 17.8321 17.8321 22.56 12 22.56Z' fill='white')