doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram bot apteka911
    link(rel='stylesheet', href='./css/style.min.css?v12')
  body 
    #app.app
      #section1.section.section1
        #youPharmacyLine.you-pharmacy-line(style="display: none")
          svg.icon
            use(href='#vasha_apteka')
          .you-pharmacy-line__text Ваша аптека:
          button(type="button").you-pharmacy-line__btn#j_test_04
            span г. Харьков, просп. Гагарина, 722
        .search
          button(type="button").search__input#j_test_07
          button(type="button").search__btn-search
            svg.icon
              use(xlink:href='#search')
          button(type="button").search__btn-microphone#j_test_09
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search__btn-barcode#j_test_11
            svg.icon
              use(xlink:href='#barcode')
        .section1__wrapper
          button(type="button").btn-buy#j_test_01
            span Купить
        .section1__navigation
          .section1__navigation-round
          .section1__navigation-wrapper
            button(type="button").section1__navigation-btn.--your-pharmacy#j_test_02
              svg.icon
                use(xlink:href='#vasha_apteka')
              span Ваша аптека
            button(type="button").section1__navigation-btn.--catalog
              svg.icon
                use(xlink:href='#catalog')
              span Каталог товаров
            button(type="button").section1__navigation-btn.--settings#j_test_05
              svg.icon
                use(xlink:href='#settings')
              span Настройки
        #appModal1.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Ваша аптека
              .app-modal__content-wrapper 
                .you-pharmacy
                  .you-pharmacy__wrapper
                    .you-pharmacy__item
                      label(for="switch1").form-switch
                        input#switch1(type="radio" name="your_pharmacy" checked).form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптека оптовых цен
                        small г. Харьков, просп. Гагарина, 72
                    .you-pharmacy__item
                      label(for="switch2").form-switch
                        input#switch2(type="radio" name="your_pharmacy").form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптечная сеть 911
                        small г. Харьков, ул. Энергетическая, 1 (метро Турбоатом)
                  .you-pharmacy__bottom
                    a(href="javascript:void(0)").btn#j_test_12
                      span Добавить аптеку
        #appModal2.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_06
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--settings
                  svg.icon
                    use(xlink:href='#settings')
                .app-modal__head-span Настройки
              .app-modal__content-wrapper 
                .app-settings
                  .app-settings__wrapper
                    .app-settings__head Язык
                    .app-settings__item
                      label(for="radio1").form-radio
                        input#radio1(type="radio" name="app_settings" checked).form-radio__input
                        span.form-radio__div
                      .app-settings__item-row Украинский
                    .app-settings__item
                      label(for="radio2").form-radio
                        input#radio2(type="radio" name="app_settings").form-radio__input
                        span.form-radio__div
                      .you-pharmacy__item-row Русский
        #appModal3.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_08
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по микрофону
        #appModal4.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_10
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по сканеру штрихкода
        #appModal5.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_13
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по кнопку Добавить аптеку
      #section2.section.section2(style="display: none")
        form(action="#").search2
          input(type="text").search2__input#j_test_14
          button(type="button").search2__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search2__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
          button(type="button" style="display: none").search2__btn-close#j_test_15
            svg.icon
              use(xlink:href='#close')
        .search-list
          #searchListHead.search-list__head История поиска
          .search-list__wrapper
            .search-list__item#searchListItem1
              .search-list__item-text Парацетамол
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem2
              .search-list__item-text Расторопши плоды
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem3
              .search-list__item-text Ибуп
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem4(style="display: none")
              .search-list__item-text Расторопши плоды
                small Дарниця | Украина
              .search-list__item-count 5
            .search-list__item#searchListItem5(style="display: none")
              .search-list__item-text Экстракт расторопши пятнистой
                small Дарниця | Украина
              .search-list__item-count 6
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 62,68 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г Solution Pharm
                small Дарниця | Украина
              .search-list__item2-price от 175,60 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 28,90 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 62,68 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г Solution Pharm
                small Дарниця | Украина
              .search-list__item2-price от 175,60 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 28,90 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 62,68 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г Solution Pharm
                small Дарниця | Украина
              .search-list__item2-price от 175,60 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 28,90 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 62,68 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г Solution Pharm
                small Дарниця | Украина
              .search-list__item2-price от 175,60 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 28,90 ₴
      #section3.section.section3(style="display: none")
      #section4.section.section4(style="display: none")
      #section5.section.section5(style="display: none")
      #section6.section.section6(style="display: none")
      #section7.section.section7(style="display: none")
      button(type="button" style="display: none")#appButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count 5
          span товаров. Оформить

    script(src="./js/jquery/jquery-3.3.1.min.js")
    script(src="./js/jquery/jquery-migrate-3.0.1.min.js")
    script(src="./js/common.js?v5")

    include ./_include/_svg