doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram bot apteka911
    link(rel='stylesheet', href='./css/style.min.css?v25')
  body 
    #app.app
      #section1.section.section1
        #youPharmacyLine.you-pharmacy-line(style="display: none")
          svg.icon
            use(href='#vasha_apteka')
          .you-pharmacy-line__text Ваша аптека:
          button(type="button").you-pharmacy-line__btn#j_test_04
            span г. Харьков, просп. Гагарина, 722
        .search
          button(type="button").search__input#j_test_07
          button(type="button").search__btn-search
            svg.icon
              use(xlink:href='#search')
          button(type="button").search__btn-microphone#j_test_09
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search__btn-barcode#j_test_11
            svg.icon
              use(xlink:href='#barcode')
        .section1__wrapper
          button(type="button").btn-buy#j_test_01
            span Купить
        .section1__navigation
          .section1__navigation-round
          .section1__navigation-wrapper
            button(type="button").section1__navigation-btn.--your-pharmacy#j_test_02
              svg.icon
                use(xlink:href='#vasha_apteka')
              span Ваша аптека
            button(type="button").section1__navigation-btn.--catalog#j_test_19
              svg.icon
                use(xlink:href='#catalog')
              span Каталог товаров
            button(type="button").section1__navigation-btn.--settings#j_test_05
              svg.icon
                use(xlink:href='#settings')
              span Настройки
        #appModal1.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Ваша аптека
              .app-modal__content-wrapper 
                .you-pharmacy
                  .you-pharmacy__wrapper
                    .you-pharmacy__item
                      label(for="switch1").form-switch
                        input#switch1(type="radio" name="your_pharmacy" checked).form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптека оптовых цен
                        small г. Харьков, просп. Гагарина, 72
                    .you-pharmacy__item
                      label(for="switch2").form-switch
                        input#switch2(type="radio" name="your_pharmacy").form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптечная сеть 911
                        small г. Харьков, ул. Энергетическая, 1 (метро Турбоатом)
                  .you-pharmacy__bottom
                    a(href="javascript:void(0)").btn#j_test_12
                      span Добавить аптеку
        #appModal2.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--settings
                  svg.icon
                    use(xlink:href='#settings')
                .app-modal__head-span Настройки
              .app-modal__content-wrapper 
                .app-settings
                  .app-settings__wrapper
                    .app-settings__head Язык
                    .app-settings__item
                      label(for="radio1").form-radio
                        input#radio1(type="radio" name="app_settings" checked).form-radio__input
                        span.form-radio__div
                      .app-settings__item-row Украинский
                    .app-settings__item
                      label(for="radio2").form-radio
                        input#radio2(type="radio" name="app_settings").form-radio__input
                        span.form-radio__div
                      .you-pharmacy__item-row Русский
        #appModal3.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по микрофону
        #appModal4.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по сканеру штрихкода
        #appModal5.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по кнопку Добавить аптеку
      #section2.section.section2(style="display: none")
        form(action="#").search2
          input(type="text").search2__input#j_test_14
          button(type="button").search2__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search2__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
          button(type="button" style="display: none").search2__btn-close#j_test_15
            svg.icon
              use(xlink:href='#close')
        .search-list#j_test_16
          #searchListHead.search-list__head История поиска
          .search-list__wrapper
            .search-list__item#searchListItem1
              .search-list__item-text Парацетамол
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem2
              .search-list__item-text Расторопши плоды
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem3
              .search-list__item-text Ибуп
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem4(style="display: none")
              .search-list__item-text Расторопши плоды
                small Дарниця | Украина
              .search-list__item-count 5
            .search-list__item#searchListItem5(style="display: none")
              .search-list__item-text Экстракт расторопши пятнистой
                small Дарниця | Украина
              .search-list__item-count 6
            - for (var i=0; i<=4; i++) {
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 62,68 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г Solution Pharm
                small Дарниця | Украина
              .search-list__item2-price от 175,60 ₴
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-text Расторопши плоды 200г
                small Дарниця | Украина
              .search-list__item2-price от 28,90 ₴
            - }
      #section3.section.section3(style="display: none")
        .category-list
          .category-list__wrapper#categoryList1
            .category-head
              .category-head__title Каталог товаров
              button(type="button").category-head__btn#j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category1
                  use(xlink:href='#category1')
              .category-list__item-text Лекарственные препараты
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category2
                  use(xlink:href='#category2')
              .category-list__item-text Красота и уход
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category3
                  use(xlink:href='#category3')
              .category-list__item-text Товары для детей и мам
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category4
                  use(xlink:href='#category4')
              .category-list__item-text Лечебно-косметические средства
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category5
                  use(xlink:href='#category5')
              .category-list__item-text Медтехника и изделия медицинск...
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category6
                  use(xlink:href='#category6')
              .category-list__item-text Товары для здоровья
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category7
                  use(xlink:href='#category7')
              .category-list__item-text Витамины и БАДы
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
          .category-list__wrapper#categoryList2(style="display: none")
            .category-head
              .category-head__title Лекарственные препараты
              button(type="button").category-head__btn#j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item2
              .category-list__item2-text Лечение аллергии
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Простуда и грипп
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Сердечно-сосудистая система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Кровотворение и кровь
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Пищеварительный тракт
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Препараты в стоматологии
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Обезболивающие
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Мочеполовая система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противомикробные
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От паразитов
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Для нервной системы
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Иммунитет
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Витамины и добавки
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Костно-мышечная система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От диабета
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противоопухолевые
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Дерматология
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Растворы и диагностика
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение глаз и ушей
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Вакцины
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Препараты для детей
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Гормональные препараты
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение заболеваний полости рта
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Гомеопатические препараты
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
          .category-list__wrapper#categoryList3(style="display: none")
            .category-head
              .category-head__title Простуда и грипп
              button(type="button").category-head__btn#j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item2
              .category-list__item2-text От кашля
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение насморка
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От боли в горле
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Жаропонижающие
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Согревающие мази
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противовирусные
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Герпес
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
      #section4.section.section4(style="display: none")
        .catalog-head
          .div1
            .catalog-head__title «Расторопша»
            .catalog-head__count Товаров: 6
          .div2
            .catalog-view
              button(type='button').catalog-view__btn#j_test_17
                svg.icon
                  use(xlink:href='#view1')
              button(type='button').catalog-view__btn.active#j_test_18
                svg.icon
                  use(xlink:href='#view2')
        .filter-head
          .div1
            button(type="button").filter-head__btn
              svg.icon
                use(xlink:href='#filter')
              span.filter-head__btn-text Фильтр
              span.filter-head__btn-count 5
          .div2
            button(type="button").filter-head__btn
              svg.icon
                use(xlink:href='#sort')
        #catalog1(style="display: none")
          include ./_include/_catalog_view_1
        #catalog2
          include ./_include/_catalog_view_2
      #section5.section.section5(style="display: none")
        .catalog-head
          .div1
            .catalog-head__title Экстракт расторопши пятнистой
            .catalog-head__count Товаров: 6
          .div2
            .catalog-view
              button(type='button').catalog-view__btn#j_test_20
                svg.icon
                  use(xlink:href='#view1')
              button(type='button').catalog-view__btn.active#j_test_21
                svg.icon
                  use(xlink:href='#view2')
        .filter-head
          .div1
            button(type="button").filter-head__btn
              svg.icon
                use(xlink:href='#filter')
              span.filter-head__btn-text Фильтр
              span.filter-head__btn-count 5
          .div2
            button(type="button").filter-head__btn
              svg.icon
                use(xlink:href='#sort')
        #catalog3(style="display: none")
          include ./_include/_catalog_view_1
        #catalog4
          include ./_include/_catalog_view_2
      #section6.section.section5(style="display: none")
        #appModal6.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Основная информция
              .app-modal__content-wrapper 
                p Основная информция
        #appModal7.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Инструкция
              .app-modal__content-wrapper 
                p Основная информция
        #appModal7.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Аналоги
              .app-modal__content-wrapper 
                p Основная информция
        #appModal7.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j-app-modal-close-03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Отзывы
              .app-modal__content-wrapper 
                p Основная информция
      #section7.section.section6(style="display: none")
        p Checkout card
      button(type="button" style="display: none")#appButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count 5
          span товаров. Оформить

    script(src="./js/jquery/jquery-3.3.1.min.js")
    script(src="./js/jquery/jquery-migrate-3.0.1.min.js")
    script(src="./js/common.js?v11")

    include ./_include/_svg