doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram bot apteka911
    link(rel='stylesheet', href='./css/style.min.css?v8')
  body 
    #app.app
      #section1.section.section1
        #youPharmacyLine.you-pharmacy-line(style="display: none")
          svg.icon
            use(href='#vasha_apteka')
          .you-pharmacy-line__text Ваша аптека:
          button(type="button").you-pharmacy-line__btn#j_test_04
            span г. Харьков, просп. Гагарина, 722
        form(action="#").search
          input(type="text").search__input
          button(type="button").search__btn-search
            svg.icon
              use(xlink:href='#search')
          button(type="button").search__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
        .section1__wrapper
          button(type="button").btn-buy#j_test_01
            span Купить
        .section1__navigation
          .section1__navigation-round
          .section1__navigation-wrapper
            button(type="button").section1__navigation-btn.--your-pharmacy#j_test_02
              svg.icon
                use(xlink:href='#vasha_apteka')
              span Ваша аптека
            button(type="button").section1__navigation-btn.--catalog
              svg.icon
                use(xlink:href='#catalog')
              span Каталог товаров
            button(type="button").section1__navigation-btn.--settings#j_test_05
              svg.icon
                use(xlink:href='#settings')
              span Настройки
        #appModal1.app-modal
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_03
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Ваша аптека
              .app-modal__content-wrapper 
                .you-pharmacy
                  .you-pharmacy__wrapper
                    .you-pharmacy__item
                      label(for="") 
                      .you-pharmacy__item-row Аптека оптовых цен
                        small г. Харьков, просп. Гагарина, 72
                    .you-pharmacy__item
                      label(for="") 
                      .you-pharmacy__item-row Аптечная сеть 911
                        small г. Харьков, ул. Энергетическая, 1 (метро Турбоатом)
                  .you-pharmacy__bottom
                    a(href="http://").you-pharmacy__btn
                      span Добавить аптеку
        #appModal2.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close#j_test_06
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--settings
                  svg.icon
                    use(xlink:href='#settings')
                .app-modal__head-span Настройки
              .app-modal__content-wrapper 
                p test
      #section2.section.section2(style="display: none")
      #section3.section.section3(style="display: none")
      #section4.section.section4(style="display: none")
      #section5.section.section5(style="display: none")
      #section6.section.section6(style="display: none")
      #section7.section.section7(style="display: none")
      button(type="button" style="display: none")#appButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count 5
          span товаров. Оформить

    script(src="./js/jquery/jquery-3.3.1.min.js")
    script(src="./js/jquery/jquery-migrate-3.0.1.min.js")
    script(src="./js/common.js?v3")

    include ./_include/_svg