include ./_include/_mixin_field-text
include ./_include/_mixin_field-checkbox
include ./_include/_mixin_field-radio
include ./_include/_mixin_breadcrumbs

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram bot apteka911
    script(src='https://tg.dev/js/telegram-web-app.js?1')
    script.
      function setThemeClass() {
        document.documentElement.className = Telegram.WebApp.colorScheme;
      }
      Telegram.WebApp.onEvent('themeChanged', setThemeClass);
      setThemeClass();
    link(rel='stylesheet', href='./css/style.min.css?v69')
  
  body 
    #app.app
      //- .loader
      .test-navigation
        button(type="button").test-navigation__hide
        button(type="button" data-section="section1").test-navigation__btn 1
        button(type="button" data-section="section2").test-navigation__btn 2
        button(type="button" data-section="section3").test-navigation__btn 3
        button(type="button" data-section="section4").test-navigation__btn 4
        button(type="button" data-section="section5").test-navigation__btn 5
        button(type="button" data-section="section6").test-navigation__btn 6
        button(type="button" data-section="section7").test-navigation__btn 7
        button(type="button" data-section="section8").test-navigation__btn 8
      #youPharmacyLine.you-pharmacy-line(style="display: none")
        svg.icon
          use(href='#vasha_apteka')
        .you-pharmacy-line__text Ваша аптека:
        button(type="button").you-pharmacy-line__btn#j_test_04
          span г. Харьков, просп. Гагарина, 722
      #section1.section.section1
        .search.--search-main
          button(type="button").search__input.j_test_07 Поиск
          .search__btn-search
            svg.icon
              use(xlink:href='#search')
          .search__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          .search__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
        .section1__wrapper
          //- button(type="button").btn-buy#j_test_01
          //-   span Купить
          .section1__slider.j-main-slider
            .swiper-wrapper
              .swiper-slide(data-img="./tmp/img-slider-1-ua.svg")
              .swiper-slide(data-img="./tmp/img-slider-2-ua.svg")
              .swiper-slide(data-img="./tmp/img-slider-3-ua.svg")
            .swiper-img
        .section1__navigation
          .section1__navigation-round
          .section1__navigation-wrapper
            button(type="button").section1__navigation-btn.--your-pharmacy#j_test_02
              svg.icon
                use(xlink:href='#vasha_apteka')
              span Ваша аптека
            button(type="button").section1__navigation-btn.--catalog#j_test_19
              svg.icon
                use(xlink:href='#catalog')
              span Каталог товаров
            button(type="button").section1__navigation-btn.--favorites#j_test_44
              svg.icon
                use(xlink:href='#favorites')
              span Избранные товары
            button(type="button").section1__navigation-btn.--settings#j_test_05
              svg.icon
                use(xlink:href='#settings')
              span Настройки
        #appModal1.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Ваша аптека
              .app-modal__content-wrapper 
                .you-pharmacy
                  .you-pharmacy__wrapper
                    label(for="switch1").you-pharmacy__item
                      .form-switch
                        input#switch1(type="radio" name="your_pharmacy" checked).form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптека оптовых цен
                        small г. Харьков, просп. Гагарина, 72
                    label(for="switch2").you-pharmacy__item
                      .form-switch
                        input#switch2(type="radio" name="your_pharmacy").form-switch__input
                        span.form-switch__div
                      .you-pharmacy__item-row Аптечная сеть 911
                        small г. Харьков, ул. Энергетическая, 1 (метро Турбоатом)
                  .you-pharmacy__bottom
                    a(href="javascript:void(0)").btn.--accent.--outline.--block#j_test_12
                      span Добавить аптеку
        #appModal2.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--settings
                  svg.icon
                    use(xlink:href='#settings')
                .app-modal__head-span Настройки
              .app-modal__content-wrapper 
                .app-settings
                  .app-settings__wrapper
                    .app-settings__head Ваш город
                    .app-settings__city
                      .app-settings__city-title г. Харьков
                        small Харьковская обл.
                      button(type="button").btn.--secondary-alt.--xs.--r35
                        svg.icon
                          use(href='#edit')
                        span Изменить
                  .app-settings__wrapper
                    .app-settings__head Язык
                    label(for="radio1").app-settings__item
                      .field-radio
                        input#radio1.field-radio__input(type='radio' name='app_settings' checked)
                        span.field-radio__span-input
                      .app-settings__item-row Украинский
                    label(for="radio2").app-settings__item
                      .field-radio
                        input#radio2.field-radio__input(type='radio' name='app_settings')
                        span.field-radio__span-input
                      .you-pharmacy__item-row Русский
        #appModal5.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по кнопку Добавить аптеку
        #appPreloader.app-modal(style="display: none")
          .app-preloader
            .loader
            p Подождите...
      #section2.section.section2(style="display: none")
        form(action="#").search2
          input(type="text" placeholder="Поиск").search2__input#j_test_14
          button(type="button").search2__btn-microphone#j_test_09
            svg.icon
              use(xlink:href='#microphone')
          button(type="button").search2__btn-barcode#j_test_11
            svg.icon
              use(xlink:href='#barcode')
          button(type="button" style="display: none").search2__btn-close#j_test_15
            svg.icon
              use(xlink:href='#close')
        .search-list#j_test_16
          #searchListHead.search-list__head История поиска
          .search-list__wrapper
            .search-list__item#searchListItem1
              .search-list__item-text Парацетамол
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem2
              .search-list__item-text 
                strong.color Рас
                | торопши плоды
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem3
              .search-list__item-text Ибуп
              svg.icon
                use(xlink:href='#clock')
            .search-list__item#searchListItem4(style="display: none")
              .search-list__item-text 
                strong.color Рас
                | торопши плоды
                small Дарниця | Украина
              .search-list__item-count 5
            .search-list__item#searchListItem5(style="display: none")
              .search-list__item-text Экстракт 
                strong.color рас
                | торопши пятнистой
                small Дарниця | Украина
              .search-list__item-count 6
            - for (var i=0; i<=4; i++) {
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
              .search-list__item2-wrapper
                .search-list__item2-text 
                  strong.color Рас
                  | торопши плоды 200г
                  small Дарниця | Украина
                .search-list__item2-price от 62,68 ₴
              .search-list__item2-btns
                button(type="button").btn.--accent.--xs.j_test_45
                  svg.icon
                    use(xlink:href='#cart')
                  span В корзину
                button(type="button" style="display: none").btn.--accent.--ghost.--xs.--is-active.j_test_45
                  svg.icon
                    use(xlink:href='#cart_check')
                  span В корзине
                button(type="button").btn.--secondary-alt.--xs
                  span В аптеках
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
              .search-list__item2-wrapper
                .search-list__item2-text 
                  strong.color Рас
                  | торопши плоды 200г Solution Pharm
                  small Дарниця | Украина
                .search-list__item2-price от 175,60 ₴
              .search-list__item2-btns
                button(type="button" style="display: none").btn.--accent.--xs.j_test_45
                  svg.icon
                    use(xlink:href='#cart')
                  span В корзину
                button(type="button").btn.--accent.--ghost.--xs.--is-active.j_test_45
                  svg.icon
                    use(xlink:href='#cart_check')
                  span В корзине
                button(type="button").btn.--secondary-alt.--xs
                  span В аптеках
            .search-list__item2
              .search-list__item2-thumb
                img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
              .search-list__item2-wrapper
                .search-list__item2-text 
                  strong.color Рас
                  | торопши плоды 200г
                  small Дарниця | Украина
                .search-list__item2-price от 28,90 ₴
              .search-list__item2-btns
                button(type="button").btn.--accent.--xs.j_test_45
                  svg.icon
                    use(xlink:href='#cart')
                  span В корзину
                button(type="button" style="display: none").btn.--accent.--ghost.--xs.--is-active.j_test_45
                  svg.icon
                    use(xlink:href='#cart_check')
                  span В корзине
                button(type="button").btn.--secondary-alt.--xs
                  span В аптеках
            - }
        #appModal3.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по микрофону
        #appModal4.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-span Обработка клика
              .app-modal__content-wrapper 
                p Клик по сканеру штрихкода
        #appSearchNo.app-modal(style="display: none")
          .app-modal-info
            .app-modal-info__search-img
              img(src="./tmp/image-search.svg", width="298" height="134" alt="")
            .app-modal-info__content
              p На жаль, ми не змогли знайти - 
                b.color «Віваіап»
                | . Перевірте, будь ласка, уважно та спробуйте ще раз ввести Ваш запит
            .app-modal-info__btns
              button(type="button").btn.--secondary.--ghost.--block.--sm.j_test_43
                span ОК
      #section3.section.section3(style="display: none")
        // Breadcrumbs
        .category-list
          .category-list__wrapper#categoryList1
            +breadcrumbs()
              +breadcrumbs-item('Главная')(class="j_test_47")
            .category-head
              .category-head__title Каталог товаров
              button(type="button").category-head__btn.j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category1
                  use(xlink:href='#category1')
              .category-list__item-text Лекарственные препараты
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category2
                  use(xlink:href='#category2')
              .category-list__item-text Красота и уход
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category3
                  use(xlink:href='#category3')
              .category-list__item-text Товары для детей и мам
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category4
                  use(xlink:href='#category4')
              .category-list__item-text Лечебно-косметические средства
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category5
                  use(xlink:href='#category5')
              .category-list__item-text Медтехника и изделия медицинск...
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category6
                  use(xlink:href='#category6')
              .category-list__item-text Товары для здоровья
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category7
                  use(xlink:href='#category7')
              .category-list__item-text Витамины и БАДы
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item
              .category-list__item-thumb
                svg.icon.--category8
                  use(xlink:href='#category8')
              .category-list__item-text Экстемпоральная рецептура
              .category-list__item-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
          .category-list__wrapper#categoryList2(style="display: none")
            +breadcrumbs()
              +breadcrumbs-item('Каталог товаров')(class="j_test_48")
            .category-head
              .category-head__title Лекарственные препараты
              button(type="button").category-head__btn.j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item2
              .category-list__item2-text Лечение аллергии
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Простуда и грипп
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Сердечно-сосудистая система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Кровотворение и кровь
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Пищеварительный тракт
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Препараты в стоматологии
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Обезболивающие
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Мочеполовая система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противомикробные
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От паразитов
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Для нервной системы
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Иммунитет
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Витамины и добавки
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Костно-мышечная система
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От диабета
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противоопухолевые
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Дерматология
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Растворы и диагностика
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение глаз и ушей
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Вакцины
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Препараты для детей
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Гормональные препараты
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение заболеваний полости рта
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Гомеопатические препараты
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
          .category-list__wrapper#categoryList3(style="display: none")
            +breadcrumbs()
              +breadcrumbs-item('Лекарственные препараты')(class="j_test_49")
            .category-head
              .category-head__title Простуда и грипп
              button(type="button").category-head__btn.j_test_23
                svg.icon
                  use(xlink:href='#search')
            .category-list__item2
              .category-list__item2-text От кашля
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Лечение насморка
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text От боли в горле
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Жаропонижающие
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Согревающие мази
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Противовирусные
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
            .category-list__item2
              .category-list__item2-text Герпес
              .category-list__item2-arrow
                svg.icon
                  use(xlink:href='#arrow_right')
      #section4.section.section4(style="display: none")
        .catalog-head
          .catalog-head__title «Расторопша»
          button(type="button").category-head__btn.j_test_23
            svg.icon
              use(xlink:href='#search')
        .filter-head
          .div1
            button(type="button").filter-head__btn#j_test_38
              svg.icon
                use(xlink:href='#filter')
              span.filter-head__btn-text Фильтр
              span.filter-head__btn-count 5
          .div2
            .sort
              button(type="button").filter-head__btn.j_test_39
                svg.icon
                  use(xlink:href='#sort')
                span.filter-head__btn-text Сортировка
              .sort__dropdown.j_test_40(style="display: none")
                button(type="button").sort__dropdown-btn
                  span По рейтингу
                button(type="button").sort__dropdown-btn
                  span От дешевых
                button(type="button").sort__dropdown-btn
                  span От дорогих
        .sort-head
          .sort-head__wrapper
            .catalog-head__count Товаров: 6
            .div2
              .catalog-view
                button(type='button').catalog-view__btn#j_test_52
                  svg.icon
                    use(xlink:href='#view1')
                button(type='button').catalog-view__btn.active#j_test_53
                  svg.icon
                    use(xlink:href='#view2')
          .sort-head__bottom
            button(type="button").btn.--block.--secondary-alt
              span Найти все в аптеках
        #catalog1(style="display: none")
          include ./_include/_catalog_view_1
          .catalog-more
            button(type="button").btn.--accent.--outline.--block
              span Загрузить еще
        #catalog2
          include ./_include/_catalog_view_2
          .catalog-more
            button(type="button").btn.--accent.--outline.--block
              span Загрузить еще
        #appFilter2.app-filter(style="display: none")
          .app-filter__wrapper
            //- .app-filter__head
            //-   .app-filter__head-title Фильтр
            //-   button(type="button").app-filter__head-btn#j_test_37
            //-     svg.icon
            //-       use(xlink:href='#close')
            .app-filter__body
              .app-filter__body-wrapper
                include ./_include/_filter
            .app-filter__foot
              button(type="button").btn.--accent.--ghost.j_test_55
                span Сбросить
              button(type="button").btn.--accent
                span Применить
                span.app-filter__foot-count 117
      #section5.section.section5(style="display: none")
        +breadcrumbs()
          +breadcrumbs-item('Лекарственные препараты')(class="j_test_50")
        .catalog-head
          .catalog-head__title Экстракт расторопши пятнистой
          button(type="button").category-head__btn.j_test_23
            svg.icon
              use(xlink:href='#search')
        .filter-head
          .div1
            button(type="button").filter-head__btn#j_test_36
              svg.icon
                use(xlink:href='#filter')
              span.filter-head__btn-text Фильтр
              span.filter-head__btn-count 5
          .div2
            .sort
              button(type="button").filter-head__btn.j_test_39
                svg.icon
                  use(xlink:href='#sort')
                span.filter-head__btn-text Сортировка
              .sort__dropdown.j_test_40(style="display: none")
                button(type="button").sort__dropdown-btn
                  span По рейтингу
                button(type="button").sort__dropdown-btn
                  span От дешевых
                button(type="button").sort__dropdown-btn
                  span От дорогих
        .sort-head
          .sort-head__wrapper
            .catalog-head__count Товаров: 6
            .div2
              .catalog-view
                button(type='button').catalog-view__btn#j_test_20
                  svg.icon
                    use(xlink:href='#view1')
                button(type='button').catalog-view__btn.active#j_test_21
                  svg.icon
                    use(xlink:href='#view2')
          .sort-head__bottom
            button(type="button").btn.--block.--secondary-alt
              span Найти все в аптеках
        #catalog3(style="display: none")
          include ./_include/_catalog_view_1
        #catalog4
          include ./_include/_catalog_view_2
        #appFilter.app-filter(style="display: none")
          .app-filter__wrapper
            //- .app-filter__head
            //-   .app-filter__head-title Фильтр
            //-   button(type="button").app-filter__head-btn#j_test_35
            //-     svg.icon
            //-       use(xlink:href='#close')
            .app-filter__body
              .app-filter__body-wrapper
                include ./_include/_filter
            .app-filter__foot
              button(type="button").btn.--accent.--ghost.j_test_55
                span Сбросить
              button(type="button").btn.--accent
                span Применить
                span.app-filter__foot-count 117
      #section6.section.section6(style="display: none")
        +breadcrumbs()
          +breadcrumbs-item('Лекарственные препараты')(class="j_test_50")
        .product
          .product__head
            .product__head-wrapper
              .product__head-top
                .product__head-title Парацетамол-Дарница табл. 500мг №10
                .product__head-desc Глаксо | Польша
              button.product__head-btn#j_test_51(type='button')
                svg.icon
                  use(href='#search')
            .product__head-available.j_test_46(data-count-test="1")
              svg.icon
                use(xlink:href='#check_success')
              span 
                span.color В наличии: 
                | 180 аптеках в Харькове
            .product__head-available.j_test_46(style="display: none" data-count-test="2")
              svg.icon.--error
                use(xlink:href='#info_alert')
              span 
                span.color.--error Нет товара
            .product__head-available.j_test_46(style="display: none" data-count-test="3")
              svg.icon
                use(xlink:href='#check_success')
              span 
                span.color В аптеке: 
                | 10 упак. и 2 блис.
            .product__head-available.j_test_46(style="display: none" data-count-test="4")
              svg.icon.--error
                use(xlink:href='#info_alert')
              span 
                span.color.--error Нет в вашей аптеке
          .product-gallery
            .swiper.j-product-gallery
              .swiper-wrapper
                .swiper-slide
                  img(src="./tmp/product-gallery.jpg", width="240" height="240" alt="")
                .swiper-slide
                  img(src="./tmp/product-gallery.jpg", width="240" height="240" alt="")
                .swiper-slide
                  img(src="./tmp/product-gallery.jpg", width="240" height="240" alt="")
              .swiper-pagination
          .product-price
            .product-price__wrapper
              .div
                .product-price__label Упаковка / 100 шт.
                .product-price__price
                  small от 
                  span 149.67 
                  small ₴
              .div
                .product-price__label Пластина / 10 шт.
                .product-price__price
                  small от 
                  span 14.97 
                  small ₴
            button(type="button").product-price__btn#j_test_29
              svg.icon
                use(xlink:href='#cart')
              span.product-price__btn-round
                svg.icon.--check
                  use(xlink:href='#check_success')
          .product-quantity
            .product-quantity__head Количество в упаковке:
            .product-quantity__wrapper.j_test_24
              span.active 100 шт
              a(href='#!') 20 шт
              a(href='#!').disabled 50 шт
          .product-quantity
            .product-quantity__head Форма выпуска:
            .product-quantity__wrapper.j_test_24
              span.active Таблетки
              a(href='#!') Суспензия
              a(href='#!') Раство оральный
              a(href='#!') Капли
              a(href='#!') Апмпулы
          .product-menu
            button(type="button").product-menu__btn#j_test_25
              .product-menu__btn-icon.--basic
                svg.icon
                  use(xlink:href='#icon_info')
              span Основная информация
            button(type="button").product-menu__btn#j_test_26
              .product-menu__btn-icon.--document
                svg.icon
                  use(xlink:href='#document')
              span Инструкция
            button(type="button").product-menu__btn#j_test_27
              .product-menu__btn-icon.--analogs
                svg.icon
                  use(xlink:href='#category1')
              span Аналоги
            button(type="button").product-menu__btn#j_test_28
              .product-menu__btn-icon.--comment
                svg.icon
                  use(xlink:href='#vasha_apteka')
              span Отзывы
        #appModal6.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--basic
                  svg.icon
                    use(xlink:href='#icon_info')
                .app-modal__head-span Основная информация
              .app-modal__content-wrapper 
                .block-lights
                  .block-lights__head Кому можно
                  .block-lights__grid
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_1')
                          svg.icon.icon_color_1
                            use(xlink:href='#icon_check')
                        .block-lights__content
                          .block-lights__title Взрослым
                          .block-lights__desk Можно
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_2')
                          svg.icon.icon_color_2
                            use(xlink:href='#icon_info')
                        .block-lights__content
                          .block-lights__title Детям
                          .block-lights__desk С 2-х месяцев до 12 лет
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_3')
                          svg.icon.icon_color_3
                            use(xlink:href='#icon_minus')
                        .block-lights__content
                          .block-lights__title Беременным
                          .block-lights__desk Нельзя
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_4')
                          svg.icon.icon_color_3
                            use(xlink:href='#icon_minus')
                        .block-lights__content
                          .block-lights__title Кормящим
                          .block-lights__desk По назначению врача
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_5')
                          svg.icon.icon_color_1
                            use(xlink:href='#icon_check')
                        .block-lights__content
                          .block-lights__title Аллергикам
                          .block-lights__desk Можно
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_6')
                          svg.icon.icon_color_1
                            use(xlink:href='#icon_check')
                        .block-lights__content
                          .block-lights__title Диабетикам
                          .block-lights__desk Можно
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_7')
                          svg.icon.icon_color_2
                            use(xlink:href='#icon_info')
                        .block-lights__content
                          .block-lights__title Водителям
                          .block-lights__desk С осторожностью
                    div
                      .block-lights__grid-row
                        .block-lights__grid-icon
                          svg.icon
                            use(xlink:href='#who_can_8')
                          svg.icon.icon_color_2
                            use(xlink:href='#icon_info')
                        .block-lights__content
                          .block-lights__title С алкоголем
                          .block-lights__desk С осторожностью
                .app-modal__separator
                table.product-parameters
                  caption Парацетамол-Дарница табл. 500мг №10
                  tbody
                    tr
                      td Торговое название
                      td
                        a(href='#!') Парацетамол
                    tr
                      td Действующие вещества
                      td
                        a(href='#!') Парацетамол
                    tr.product-parameters__category
                      td(colspan='2')
                        table
                          tbody
                            tr
                              td
                                p Категория
                              td
                                p
                                  a(href='#!') Сердце
                                  | , 
                                  a(href='#!') сосуды
                                  | , 
                                  a(href='#!') кровь
                                  |  > 
                                  a(href='#!') Лечение сердца
                    tr
                      td Количество действующего вещества:
                      td 500 мг
                    tr
                      td Форма выпуска:
                      td таблетки для внутреннего применения
                    tr
                      td Количество в упаковке:
                      td 10 таблеток
                    tr
                      td Заявитель:
                      td Дарница
                    tr
                      td Первичная упаковка:
                      td блистер
                    tr
                      td Способ применения:
                      td Оральные
                    tr
                      td Взаимодействие с едой:
                      td После
                    tr
                      td Температура хранения:
                      td от 5°C до 25°C
                    tr
                      td Чувствительность к свету:
                      td Не чувствительный
                    tr
                      td Признак:
                      td Отечественный
                    tr
                      td Происхождение:
                      td Химический
                    tr
                      td Рыночный статус:
                      td Дженерик-дженерик
                    tr
                      td Страна производства:
                      td Украина
                    tr
                      td Производитель:
                      td ДАРНИЦА ЧАО ФАРМ. ФИРМА
                    tr
                      td Условия отпуска:
                      td Без рецепта
                    tr.product-parameters__category
                      td(colspan='2')
                        table
                          tbody
                            tr
                              td
                                p Код АТС
                              td
                                p.atc-code
                                  | N 
                                  span(data-link='aHR0cDovL2xvY2FsaG9zdDo4MDgwL2FwdGVrYTkxMS5jb20udWEvc2hvcC9wcmVwYXJhdHlpLWRseWEtbGVjaGVuaXlhLXphYm9sZXZhbml5LW5lcnZub3ktc2lzdGVteWktYXRjPW4=') Препараты для лечения заболеваний нервной системы
                                p.atc-code
                                  | N02 
                                  span(data-link='aHR0cDovL2xvY2FsaG9zdDo4MDgwL2FwdGVrYTkxMS5jb20udWEvc2hvcC9ib2xldXRvbHlheXVzY2hpZS1zcmVkc3R2YS1hdGM9bjAy') Болеутоляющие средства
                                p.atc-code
                                  | N02B 
                                  span(data-link='aHR0cDovL2xvY2FsaG9zdDo4MDgwL2FwdGVrYTkxMS5jb20udWEvc2hvcC9wcm9jaGllLWFuYWxnZXRpa2ktaS1hbnRpcGlyZXRpa2ktYXRjPW4wMmI=') Прочие анальгетики и антипиретики
                                p.atc-code
                                  | N02BE 
                                  span(data-link='aHR0cDovL2xvY2FsaG9zdDo4MDgwL2FwdGVrYTkxMS5jb20udWEvc2hvcC9hbmlsaWR5aS1hdGM9bjAyYmU=') Анилиды
                                p.atc-code
                                  b N02BE01
                                  span(data-link='aHR0cDovL2xvY2FsaG9zdDo4MDgwL2FwdGVrYTkxMS5jb20udWEvc2hvcC9wYXJhdHNldGFtb2wtYXRjPW4wMmJlMDE=') Парацетамол
                .collapsible-container
                  .collapsible-container__row
                    button(type="button").collapsible-heading
                      h2 Фармакологические свойства
                      span.collapsible-heading__arrow
                        svg.icon.--minus
                          use(xlink:href='#minus')
                        svg.icon
                          use(xlink:href='#plus')
                    .collapsible-block(aria-expanded='false' style='display: none;')
                      div
                        p Фармакодинамика. ацц® лонг. n-ацетил-l-цистеин (ацетилцистеин, ацц) — муколитическое, отхаркивающее средство, применяемое для разжижения мокроты при заболеваниях дыхательной системы, сопровождающихся образованием густой слизи. ацетилцистеин является производным аминокислоты цистеин. муколитический эффект препарата имеет химическую природу. за счет свободной сульфгидрильной группы ацетилцистеин разрывает дисульфидные связи кислых мукополисахаридов, что приводит к деполимеризации мукопротеидов мокроты и уменьшению вязкости слизи и способствует отхаркиванию и отхождению бронхиального секрета. препарат сохраняет активность при наличии гнойной мокроты.
                        p Ацетилцистеин обладает также антиоксидантными пневмопротекторными свойствами, что обусловлено связыванием его сульфгидрильными группами химических радикалов и, таким образом, обезвреживанием их. Кроме того, препарат способствует повышению синтеза глутатиона — важного фактора внутриклеточной защиты не только от окислительных токсинов экзогенного и эндогенного происхождения, но и от ряда цитотоксических веществ. Эта особенность ацетилцистеина дает возможность эффективно применять последний при передозировке парацетамола.
                        p
                          | АЦЦ
                          sup ®
                          |  Лонг Лимон. N-ацетил-L-цистеин (ацетилцистеин) — муколитическое, отхаркивающее средство, которое применяется для разжижения мокроты при заболеваниях дыхательной системы, сопровождающихся образованием густой слизи. Ацетилцистеин является производным аминокислоты цистеина. Ацетилцистеин оказывает выраженное муколитическое действие на слизистый и слизисто-гнойный секрет за счет деполимеризации мукопротеиновых комплексов и нуклеиновых кислот, которые придают вязкость гиалиновому и гнойному компонентам мокроты и другим секретам. Дополнительные свойства: снижение индуцированной гиперплазии мукоцитов, повышение выработки сурфактанта за счет стимуляции пневмоцитов типа II, стимуляция активности мукоцилиарного аппарата, что способствует улучшению мукоцилиарного клиренса. В результате мокрота становится менее вязкой.
                        p N-ацетил-L-цистеин также оказывает прямое антиоксидантное пневмопротекторное действие за счет наличия нуклеофильной свободной тиольной группы (SH), которая способна непосредственно взаимодействовать с электрофильными группами окислительных радикалов. Особенно интересен тот факт, что ацетилцистеин предотвращает инактивацию α-1-антитрипсина — фермента, который ингибирует эластазу, хлорноватистой кислотой (HOCl) — сильным окислителем, который продуцируется миелопероксидазой активных фагоцитов.
                        p Кроме того, молекулярная структура ацетилцистеина дает ему возможность легко проникать через клеточные мембраны. Внутри клетки ацетилцистеин деацетилируется с образованием L-цистеина, незаменимой аминокислоты для синтеза глутатиона. В дополнение к этому ацетилцистеин, который является прекурсором глутатиона, оказывает косвенный антиоксидантный эффект. Глутатион является высокоактивным трипептидом, распространенным в различных тканях животных и незаменим для сохранения функциональной способности клетки и ее морфологической целостности. Фактически он является частью наиболее важного внутриклеточного механизма защиты от окислительных радикалов как экзо-, так и эндогенных и некоторых цитотоксических веществ, включая парацетамол.
                        p Парацетамол оказывает цитотоксическое действие путем прогрессирующего снижения содержания глутатиона. Ацетилцистеин играет первостепенную роль в сохранении адекватных уровней глутатиона, таким образом, усиливая клеточную защиту. В результате ацетилцистеин представляет собой специфический антидот при отравлении парацетамолом и другими токсичными веществами (альдегидами, фенолами).
                        p У пациентов с ХОБЛ (хроническая обструктивная болезнь легких) прием 1200 мг ацетилцистеина в сутки в течение 6 нед приводил к значительному увеличению объема вдоха и ФЖЕЛ (форсированная жизненная емкость легких), возможно, вследствие уменьшения воздушного захвата.
                        p У больных с ИФЛ (идиопатическим фиброзом легких) применение ацетилцистеина внутрь по 600 мг 3 раза в сутки в течение 1 года в сочетании со стандартной терапией ИФЛ (преднизолон и азатиоприн) способствовало сохранению жизненной емкости легких (ЖЕЛ) и диффузной способности легких, измеренной методом одиночного вдоха окиси углерода.
                        p В форме ингаляционной терапии в течение 1 года ацетилцистеин способствовал снижению интенсивности прогрессирования заболевания у больных с ИФЛ.
                        p При применении в очень высоких дозах (до 3000 мг/сут в течение 4 нед) у больных муковисцидозом ацетилцистеин не оказывал значительного токсического действия.
                        p Антиоксидантная эффективность ацетилцистеина связана с выраженным снижением активности эластазы в мокроте, что является самым значительным показателем функции легких у больных муковисцидозом. Кроме этого, на фоне лечения отмечалось уменьшение числа нейтрофилов в дыхательных путях, а также числа нейтрофилов, которые активно выделяют богатые эластазой гранулы.
                  .collapsible-container__row
                    button(type="button").collapsible-heading
                      h2 Противопоказания
                      span.collapsible-heading__arrow
                        svg.icon.--minus
                          use(xlink:href='#minus')
                        svg.icon
                          use(xlink:href='#plus')
                    .collapsible-block(aria-expanded='false' style='display: none;')
                      div
                        p Повышенная чувствительность к ацц или другим компонентам препарата. гепатит, почечная недостаточность (во избежание повышения содержания азотсодержащих веществ в организме). язва желудка и двенадцатиперстной кишки в стадии обострения, кровохарканье, легочное кровотечение.
                  .collapsible-container__row
                    button(type="button").collapsible-heading
                      h2 Побочные эффекты
                      span.collapsible-heading__arrow
                        svg.icon.--minus
                          use(xlink:href='#minus')
                        svg.icon
                          use(xlink:href='#plus')
                    .collapsible-block(aria-expanded='false' style='display: none;')
                      div
                        p Оценка побочных эффектов основана на такой классификации по частоте возникновения: очень часто (≥1/10); часто (≥1/100, 1/10); нечасто (≥1/1000, 1/100); единичные (≥1/10 000, 1/1000); редко (1/10 000); частота неизвестна (полученные данные не позволяют оценить частоту).
                        p Общие нарушения и реакции в месте введения: нечасто — головная боль, лихорадка, гипертермия, лихорадка, аллергические реакции (зуд, крапивница, экзантема, сыпь, бронхоспазм, ангионевротический отек, отек Квинке, тахикардия и артериальная гипотензия); редко — анафилактические реакции и шок; неизвестно — отек лица, экзема.
                        p Со стороны крови и лимфатической системы: частота неизвестна — анемия.
                        p Со стороны сердечно-сосудистой системы, органов грудной клетки и средостения: нечасто — тахикардия, артериальная гипотензия; редко — одышка, бронхоспазм — в основном у пациентов с гиперреактивностью бронхов при БА, одышка, геморрагии, кровоизлияние.
                        p Со стороны пищеварительного тракта: нечасто — стоматит, боль в животе, тошнота, рвота и диарея; редко — диспепсия; неизвестно — неприятный запах изо рта.
                        p Со стороны органа слуха и лабиринта: нечасто — звон в ушах.
                        p Со стороны дыхательной системы: редко — ринорея.
                        p Со стороны нервной системы: нечасто — головная боль.
                        p Со стороны иммунной системы: нечасто — реакции гиперчувствительности; редко — анафилактический шок, анафилактические/анафилактоидные реакции.
                        p Исследования: нечасто — снижение АД.
                        p В очень редких случаях в связи с применением АЦЦ сообщалось о кожных реакциях, таких как синдром Стивенса — Джонсона и синдром Лайелла. В большинстве случаев, как минимум, еще один препарат может с большей вероятностью быть причиной появления кожно-слизистого синдрома. Поэтому при появлении любых новых изменений на коже или слизистых оболочках следует обратиться к врачу и немедленно отменить применение АЦЦ.
                        p В нескольких исследованиях выявлено ослабление агрегации тромбоцитов при приеме АЦЦ. Клиническая значимость этого наблюдения неизвестна.
                  .collapsible-container__row
                    button(type="button").collapsible-heading
                      h2 Передозировка
                      span.collapsible-heading__arrow
                        svg.icon.--minus
                          use(xlink:href='#minus')
                        svg.icon
                          use(xlink:href='#plus')
                    .collapsible-block(aria-expanded='false' style='display: none;')
                      div
                        p До настоящего времени не наблюдалось случаев тяжелых и опасных для жизни побочных эффектов даже при значительной передозировке. добровольцы принимали 11,6 г ацц в сутки в течение 3 мес без возникновения каких-либо серьезных побочных эффектов. пероральные дозы ацц до 500 мг/кг/сут переносились без симптомов интоксикации.
                        p Передозировка может вызвать такие желудочно-кишечные симптомы, как тошнота, рвота и диарея. Для детей есть риск гиперсекреции.
                        p Специфического антидота при отравлении АЦЦ нет, терапия симптоматическая.
                  .collapsible-container__row
                    button(type="button").collapsible-heading
                      h2 Условия хранения
                      span.collapsible-heading__arrow
                        svg.icon.--minus
                          use(xlink:href='#minus')
                        svg.icon
                          use(xlink:href='#plus')
                    .collapsible-block(aria-expanded='false' style='display: none;')
                      div
                        p Специальных условий хранения не требуется. хранить в недоступном для детей месте.
        #appModal7.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--document
                  svg.icon
                    use(xlink:href='#document')
                .app-modal__head-span Инструкция
              .app-modal__content-wrapper 
                p(style="text-align: center;")
                  b ІНСТРУКЦІЯ
                p(style="text-align: center;") 
                  b для медичного застосування лікарського засобу
                p(style="text-align: center;") 
                  b ПАРАЦЕТАМОЛ-ДАРНИЦЯ
                p(style="text-align: center;") 
                  b (PARACETAMOL-DARNITSA)
                p
                  b Склад:
                p діюча речовина: paracetamol;
                  br
                  | 1 таблетка містить парацетамолу 500 мг;
                  br
                  | допоміжні речовини: крохмаль прежелатинізований, повідон, целюлоза мікрокристалічна, натрію кроскармелоза, кальцію стеарат.
                p
                  b Лікарська форма. 
                  | Таблетки.
                p Основні фізико-хімічні властивості: таблетки білого або майже білого кольору, плоскоциліндричної форми, з фаскою та рискою. Допускається сіруватий відтінок.
                p 
                  b Фармакотерапевтична група.
                p Аналгетики та антипіретики. Аніліди. Парацетамол. Код АТХ N02B E01.
                p
                  b Фармакологічні властивості.
                p Фармакодинаміка.
                p Ненаркотичний аналгетик. Неселективно інгібує циклооксигеназу (ЦОГ), впливаючи на центри болю і терморегуляції. У запалених тканинах клітинні пероксидази нейтралізують вплив парацетамолу на ЦОГ, що пояснює незначний протизапальний ефект. Відсутній вплив на синтез простагландинів у периферичних тканинах, що зумовлює відсутність у парацетамолу негативного впливу на водно-сольовий обмін (затримка натрію і води) і слизову оболонку шлунково-кишкового тракту. Можливість утворення метгемоглобіну і сульфгемоглобіну малоймовірна.
                p
                  b Фармакокінетика.
                p Абсорбція – висока, практично 100 %. У системному кровотоку 15 % препарату, що всмоктався, зв’язується з білками плазми крові. Час досягнення максимальної концентрації у крові (TCmax) становить 20−30 хвилин. Терапевтично ефективна концентрація парацетамолу у плазмі крові досягається при його призначенні в дозі 10−15 мг/кг. Проникає крізь гематоенцефалічний бар’єр і в грудне молоко. Кількість препарату у грудному молоці становить менше 1 % від прийнятої матір’ю-годувальницею дози парацетамолу. Метаболізується у печінці: 80 % вступає в реакції кон’югації з глюкуроновою кислотою і сульфатами з утворенням неактивних метаболітів. 17 % препарату піддається гідроксилюванню з утворенням активних метаболітів, що кон’югують із глутатіоном і утворюють неактивні метаболіти. При нестачі глутатіону ці метаболіти можуть блокувати ферментні системи гепатоцитів і зумовлювати їхній некроз. Період напіввиведення (T1/2) парацетамолу – 2−3 години. У хворих літнього віку знижується кліренс препарату і збільшується T1/2. Виводиться нирками – 3 % у незміненому вигляді.
        #appModal8.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--analogs
                  svg.icon
                    use(xlink:href='#category1')
                .app-modal__head-span Аналоги
              .app-modal__content-wrapper 
                .analogs-list
                  .analogs-list__head Полный аналог
                  .analogs-list__wrapper
                    .analogs-list__item
                      .analogs-list__item-thumb
                        img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
                      .analogs-list__item-text Расторопши плоды 200г
                        small Дарниця | Украина
                      .analogs-list__item-price от 62,68 ₴
                    .analogs-list__item
                      .analogs-list__item-thumb
                        img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
                      .analogs-list__item-text Расторопши плоды 200г Solution Pharm
                        small Дарниця | Украина
                      .analogs-list__item-price от 175,60 ₴
                    .analogs-list__item
                      .analogs-list__item-thumb
                        img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
                      .analogs-list__item-text Расторопши плоды 200г
                        small Дарниця | Украина
                      .analogs-list__item-price от 28,90 ₴
                  .analogs-list__head Аналог в других формах выпуска
                  .analogs-list__wrapper
                    .analogs-list__item
                      .analogs-list__item-thumb
                        img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
                      .analogs-list__item-text Расторопши плоды 200г
                        small Дарниця | Украина
                      .analogs-list__item-price от 28,90 ₴
                    .analogs-list__item
                      .analogs-list__item-thumb
                        img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
                      .analogs-list__item-text Расторопши плоды 200г
                        small Дарниця | Украина
                      .analogs-list__item-price от 62,68 ₴
        #appModal9.app-modal(style="display: none")
          .app-modal__wrapper
            button(type="button").app-modal__close.j_test_43
              svg.icon
                use(xlink:href='#close')
            .app-modal__content
              .app-modal__head
                .app-modal__head-icon.--your-pharmacy
                  svg.icon
                    use(xlink:href='#vasha_apteka')
                .app-modal__head-span Отзывы
              .app-modal__content-wrapper 
                // Review form
                .review-form
                  .mssg-alert.--info(style="display: none") Спасибо за ваш отзыв! После модерации сообщение будет размещено на сайте
                  .mssg-alert.--warning(style="display: none") Спасибо за ваш отзыв! После модерации сообщение будет размещено на сайте
                  .mssg-alert.--error(style="display: none") Спасибо за ваш отзыв! После модерации сообщение будет размещено на сайте
                  #mssgSuccess.mssg-alert.--success(style="display: none") Спасибо за ваш отзыв! После модерации сообщение будет размещено на сайте
                  button(type="button").btn.--accent.--outline.--block#j_test_30
                    span Написать отзыв
                  #reviewForm.review-form__form(style="display: none")
                    form(action="#!")
                      input(type="hidden" name='review_rating').review_rating
                      .review-form__estimate
                        .review-form__estimate-label Оценить
                        input#j-range-slider(type='text' name='my_range')
                      fieldset 
                        .form-group
                          +field-text({
                            title: 'Имя',
                            hasJs: true,
                            isTextarea: false,
                            isRequired: true,
                            hasError: false,
                            helpText: 'Текст ошибки или подсказка',
                            mods: '',
                            val: '',
                            attrs: {
                              name: 'review-name',
                              placeholder: '',
                              value: 'Евгений'
                            }
                          }) 
                        .form-group
                          +field-text({
                            title: 'E-mail',
                            hasJs: true,
                            isTextarea: false,
                            isRequired: true,
                            hasError: true,
                            helpText: 'Текст ошибки или подсказка',
                            mods: '',
                            val: '',
                            attrs: {
                              name: 'review-email',
                              placeholder: '',
                              autocomplete: 'email'
                            }
                          }) 
                        .form-group
                          label.field-text.j-field-text
                            textarea.field-text__input.css-input(aria-invalid='false' name='review-message' placeholder)
                            //- span.field-text__input.textarea.css-input(role="textbox" contenteditable)
                            span.field-text__name.css-label
                              | Отзыв
                              sup *
                            span.field-text__help-text(style='display: none') Текст ошибки или подсказка
                      .review-form__btn
                        button(type="button").btn.--accent.--outline#j_test_31
                          span Отмена
                        button(type="button").btn.--accent#j_test_32
                          span Отправить
                // Comments list
                .comment-list
                  - for (var i=0; i<=4; i++) { 
                  // Comment
                  .comment 
                    .comment__head
                      .comment__name Неля 
                      .comment__date 17 февраля 2022 
                      .rating.--r-2
                        svg.icon
                          use(xlink:href='#star')
                        svg.icon
                          use(xlink:href='#star')
                        svg.icon
                          use(xlink:href='#star')
                        svg.icon
                          use(xlink:href='#star')
                        svg.icon
                          use(xlink:href='#star')
                    .comment__content.--more
                      p У меня хронический гайморит. Спасаюсь только Синупретом, главное вовремя начать принимать таблетки, чтобы не затянулось лечение.
                      p У меня хронический гайморит. Спасаюсь только Синупретом, главное вовремя начать принимать таблетки, чтобы не затянулось лечение.
                    button(type="button").comment__content-more.j_test_42 Читать далее
                    .comment__foot
                      .comment__foot-btns
                        button(type="button").btn
                          svg.icon
                            use(xlink:href='#back')
                          span Ответить
                        button(type="button").btn
                          svg.icon
                            use(xlink:href='#icon_info_o')
                          span Пожаловаться
                      .comment__foot-response
                        button(type="button").btn.j_test_33
                          svg.icon.--like
                            use(xlink:href='#like')
                          span 2
                        button(type="button").btn.j_test_33
                          svg.icon.--dislike
                            use(xlink:href='#dislike')
                          span 0
                  // Comment
                  .comment 
                    .comment__head
                      .comment__name Неля 
                      .comment__date 17 февраля 2022 
                    .comment__content 
                      p У меня хронический гайморит. Спасаюсь только Синупретом, главное вовремя начать принимать таблетки, чтобы не затянулось лечение.
                    .comment__foot
                      .comment__foot-btns
                        button(type="button").btn
                          svg.icon
                            use(xlink:href='#back')
                          span Ответить
                        button(type="button").btn
                          svg.icon
                            use(xlink:href='#icon_info_o')
                          span Пожаловаться
                      .comment__foot-response
                        button(type="button").btn.j_test_33
                          svg.icon.--like
                            use(xlink:href='#like')
                          span 2
                        button(type="button").btn.j_test_33
                          svg.icon.--dislike
                            use(xlink:href='#dislike')
                          span 0
                  - }
      #section7.section.section7(style="display: none")
        .search
          button(type="button").search__input.j_test_07 Поиск
          .search__btn-search
            svg.icon
              use(xlink:href='#search')
          .search__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          .search__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
        .checkout-list
          - for (var i=0; i<=3; i++) {
          .checkout-list__item
            button(type="button").checkout-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .checkout-list__item-thumb
              img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
            .checkout-list__item-text.j_test_22 Расторопши плоды 200г
              small Дарниця | Украина
            .checkout-list__item-available.j_test_56(style="display: none")
              svg.icon
                use(xlink:href='#check_success')
              span 
                span.color В наличии: 
                | 180 аптеках в Харькове
            .checkout-list__item-bottom
              .checkout-list__item-count
                .block-count.j-cart-count
                  button(type="button" aria-label="Уменьшить количество").block-count__minus
                    svg.icon
                      use(xlink:href='#count_minus')
                  button(type="button" aria-label="Увеличить количество").block-count__plus
                    svg.icon
                      use(xlink:href='#count_plus')
                  input.block-count__input(type='text' value='1 упак.' data-label="упак." id="" aria-label="Количество")
              .checkout-list__item-price от 62,68 ₴
          .checkout-list__item
            button(type="button").checkout-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .checkout-list__item-thumb
              img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
            .checkout-list__item-text.j_test_22 Расторопши плоды 200г Solution Pharm
              small Дарниця | Украина
            .checkout-list__item-available.j_test_56(style="display: none")
              svg.icon.--warning
                use(xlink:href='#check_success')
              span 
                span.color.--warning Нужно: 
                | 100 упак. и 0 блис.
            .checkout-list__item-available.j_test_56(style="display: none")
              svg.icon
                use(xlink:href='#check_success')
              span 
                span.color В наличии: 
                | 180 аптеках в Харькове
            .checkout-list__item-bottom
              .checkout-list__item-count
                .block-count.j-cart-count
                  button(type="button" aria-label="Уменьшить количество").block-count__minus
                    svg.icon
                      use(xlink:href='#count_minus')
                  button(type="button" aria-label="Увеличить количество").block-count__plus
                    svg.icon
                      use(xlink:href='#count_plus')
                  input.block-count__input(type='text' value='1 упак.' data-label="упак." id="" aria-label="Количество")
                .block-count.j-cart-count
                  button(type="button" aria-label="Уменьшить количество").block-count__minus
                    svg.icon
                      use(xlink:href='#count_minus')
                  button(type="button" aria-label="Увеличить количество").block-count__plus
                    svg.icon
                      use(xlink:href='#count_plus')
                  input.block-count__input(type='text' value='0 блис.' data-label="блис." id="" aria-label="Количество")
              .checkout-list__item-price от 62,68 ₴
          .checkout-list__item
            button(type="button").checkout-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .checkout-list__item-thumb
              img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
            .checkout-list__item-text.j_test_22 Расторопши плоды 200г Банка
              small Дарниця | Украина
            .checkout-list__item-available.j_test_56(style="display: none")
              svg.icon.--error
                use(xlink:href='#check_success')
              span 
                span.color.--error Нужно: 
                | 100 упак. и 0 блис.
            .checkout-list__item-available.j_test_56(style="display: none")
              svg.icon.--warning
                use(xlink:href='#check_success')
              span 
                span.color.--warning Нет товара
          - }
        #appSaveCart.app-modal(style="display: none")
          .app-modal-info
            .app-modal-info__title Сохранить корзину?
            .app-modal-info__content
              p Если вы сохраните товары в корзине, тогда вы сможете продолжить оформление при следующем посещении
            .app-modal-info__btns.--right.j_test_43
              button(type="button").btn.--contrast.--ghost.--sm
                span Сохранить
              button(type="button").btn.--secondary.--ghost.--sm
                span Не сохранять
      #section8.section.section8(style="display: none")
        .search
          button(type="button").search__input.j_test_07 Поиск
          .search__btn-search
            svg.icon
              use(xlink:href='#search')
          .search__btn-microphone
            svg.icon
              use(xlink:href='#microphone')
          .search__btn-barcode
            svg.icon
              use(xlink:href='#barcode')
        .favorites-list
          - for (var i=0; i<=3; i++) {
          .favorites-list__item
            button(type="button").favorites-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .favorites-list__item-thumb
              img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
            .favorites-list__item-text.j_test_22 Расторопши плоды 200г
              small Дарниця | Украина
            .favorites-list__item-price от 62,68 ₴
            .favorites-list__item-btns
              button(type="button").btn.--accent.--xs.j_test_45
                svg.icon
                  use(xlink:href='#cart')
                span В корзину
              button(type="button" style="display: none").btn.--accent.--ghost.--xs.--is-active.j_test_45
                svg.icon
                  use(xlink:href='#cart_check')
                span В корзине
              button(type="button").btn.--secondary-alt.--xs
                span В аптеках
          .favorites-list__item
            button(type="button").favorites-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .favorites-list__item-thumb
              img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
            .favorites-list__item-text.j_test_22 Расторопши плоды 200г Solution Pharm
              small Дарниця | Украина
            .favorites-list__item-price от 62,68 ₴
            .favorites-list__item-btns
              button(type="button").btn.--accent.--xs.j_test_45
                svg.icon
                  use(xlink:href='#cart')
                span В корзину
              button(type="button" style="display: none").btn.--accent.--ghost.--xs.--is-active.j_test_45
                svg.icon
                  use(xlink:href='#cart_check')
                span В корзине
              button(type="button").btn.--secondary-alt.--xs
                span В аптеках
          .favorites-list__item
            button(type="button").favorites-list__item-delete
              svg.icon
                use(xlink:href='#trash')
            .favorites-list__item-thumb
              img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
            .favorites-list__item-text.j_test_22 Расторопши плоды 200г Банка
              small Дарниця | Украина
            .favorites-list__item-price от 62,68 ₴
            .favorites-list__item-btns
              button(type="button").btn.--accent.--xs.j_test_45
                svg.icon
                  use(xlink:href='#cart')
                span В корзину
              button(type="button" style="display: none").btn.--accent.--ghost.--xs.--is-active.j_test_45
                svg.icon
                  use(xlink:href='#cart_check')
                span В корзине
              button(type="button").btn.--secondary-alt.--xs
                span В аптеках
          - }
      button(type="button" style="display: none")#appButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count 5
          span товаров. Оформить
      button(type="button" style="display: none")#checkoutButtonStatus.app-button-status
        span.app-button-status__inner
          span.app-button-status__count от 149,67 ₴ 
          span Оформить

    script(src="./js/jquery/jquery-3.3.1.min.js")
    script(src="./js/jquery/jquery-migrate-3.0.1.min.js")
    script(src="./js/swiper/swiper-bundle.js")
    script(src="./js/ion.rangeSlider/ion.rangeSlider.js")
    script(src="./js/autosize/autosize.js")
    script(src="./js/gsap.min.js")
    script(src="./js/common.js?v48")

    include ./_include/_svg