doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet', href='./css/style.min.css?v88')
  body 

    .body-ui
      h2 Icon
      .icons-pack
        .div
          svg.icon
            use(href='#settings')
          span settings
        .div
          svg.icon
            use(href='#catalog')
          span catalog
        .div
          svg.icon
            use(href='#vasha_apteka')
          span vasha_apteka
        .div
          svg.icon
            use(href='#barcode')
          span barcode
        .div
          svg.icon
            use(href='#microphone')
          span microphone
        .div
          svg.icon
            use(href='#search')
          span search
        .div
          svg.icon
            use(href='#search_2')
          span search_2
        .div
          svg.icon
            use(href='#close')
          span close
        .div
          svg.icon
            use(href='#clock')
          span clock
        .div
          svg.icon
            use(href='#filter')
          span filter
        .div
          svg.icon
            use(href='#sort')
          span sort
        .div
          svg.icon
            use(href='#view1')
          span view1
        .div
          svg.icon
            use(href='#view2')
          span view2
        .div
          svg.icon
            use(href='#category1')
          span category1
        .div
          svg.icon
            use(href='#category2')
          span category2
        .div
          svg.icon
            use(href='#category3')
          span category3
        .div
          svg.icon
            use(href='#category4')
          span category4
        .div
          svg.icon
            use(href='#category5')
          span category5
        .div
          svg.icon
            use(href='#category6')
          span category6
        .div
          svg.icon
            use(href='#category7')
          span category7
        .div
          svg.icon
            use(href='#category8')
          span category8
        .div
          svg.icon
            use(href='#arrow_right')
          span arrow_right
        .div
          svg.icon
            use(href='#arrow_left')
          span arrow_left
        .div
          svg.icon
            use(href='#document')
          span document
        .div
          svg.icon
            use(href='#who_can_1')
          span who_can_1
        .div
          svg.icon
            use(href='#who_can_2')
          span who_can_2
        .div
          svg.icon
            use(href='#who_can_3')
          span who_can_3
        .div
          svg.icon
            use(href='#who_can_4')
          span who_can_4
        .div
          svg.icon
            use(href='#who_can_5')
          span who_can_5
        .div
          svg.icon
            use(href='#who_can_6')
          span who_can_6
        .div
          svg.icon
            use(href='#who_can_7')
          span who_can_7
        .div
          svg.icon
            use(href='#who_can_8')
          span who_can_8
        .div
          svg.icon
            use(href='#icon_check')
          span icon_check
        .div
          svg.icon
            use(href='#icon_info')
          span icon_info
        .div
          svg.icon
            use(href='#icon_info_o')
          span icon_info_o
        .div
          svg.icon
            use(href='#icon_minus')
          span icon_minus
        .div
          svg.icon
            use(href='#plus')
          span plus
        .div
          svg.icon
            use(href='#minus')
          span minus
        .div
          svg.icon
            use(href='#check_success')
          span check_success
        .div
          svg.icon
            use(href='#info_alert')
          span info_alert
        .div
          svg.icon
            use(href='#cart_check')
          span cart_check
        .div
          svg.icon
            use(href='#star')
          span star
        .div
          svg.icon
            use(href='#back')
          span back
        .div
          svg.icon
            use(href='#like')
          span like
        .div
          svg.icon
            use(href='#dislike')
          span dislike
        .div
          svg.icon
            use(href='#checkbox')
          span checkbox
        .div
          svg.icon
            use(href='#trash')
          span trash
        .div
          svg.icon
            use(href='#count_minus')
          span count_minus
        .div
          svg.icon
            use(href='#count_plus')
          span count_plus
        .div
          svg.icon
            use(href='#favorites')
          span favorites
        .div
          svg.icon
            use(href='#edit')
          span edit
        .div
          svg.icon
            use(href='#pharmacy_logo_1')
          span pharmacy_logo_1
        .div
          svg.icon
            use(href='#pharmacy_logo_2')
          span pharmacy_logo_2
        .div
          svg.icon
            use(href='#pharmacy_logo_2_ua')
          span pharmacy_logo_2_ua
        .div
          svg.icon
            use(href='#pharmacy_logo_3')
          span pharmacy_logo_3
        .div
          svg.icon
            use(href='#pharmacy_logo_4')
          span pharmacy_logo_4
        .div
          svg.icon
            use(href='#pharmacy_logo_5')
          span pharmacy_logo_5
        .div
          svg.icon
            use(href='#pharmacy_logo_6')
          span pharmacy_logo_6
        .div
          svg.icon
            use(href='#pharmacy_logo_7')
          span pharmacy_logo_7
        .div
          svg.icon
            use(href='#logo_ukrposhta')
          span logo_ukrposhta
        .div
          svg.icon
            use(href='#logo_newposhta')
          span logo_newposhta
        .div
          svg.icon
            use(href='#menu_color')
          span menu_color
        .div
          svg.icon
            use(href='#menu_color_2')
          span menu_color_2
        .div
          svg.icon
            use(href='#target')
          span target
        .div
          svg.icon
            use(href='#home')
          span home
        .div
          svg.icon
            use(href='#map')
          span map
        .div
          svg.icon
            use(href='#chat')
          span chat

      h2 Button
      .buttons-pack
        button(type="button").btn.--primary.--xl
          span Button
        button(type="button").btn.--primary.--outline.--xl
          span Button
        button(type="button").btn.--primary.--ghost.--xl
          span Button

        button(type="button").btn.--link.--xl
          span Button

        button(type="button").btn.--secondary.--xl
          span Button
        button(type="button").btn.--secondary.--outline.--xl
          span Button
        button(type="button").btn.--secondary.--ghost.--xl
          span Button

        button(type="button").btn.--secondary-alt.--xl
          span Button
        button(type="button").btn.--secondary-alt.--outline.--xl
          span Button
        button(type="button").btn.--secondary-alt.--ghost.--xl
          span Button

        button(type="button").btn.--accent.--xl
          span Button
        button(type="button").btn.--accent.--outline.--xl
          span Button
        button(type="button").btn.--accent.--ghost.--xl
          span Button
          
        button(type="button").btn.--contrast.--xl
          span Button
        button(type="button").btn.--contrast.--outline.--xl
          span Button
        button(type="button").btn.--contrast.--ghost.--xl
          span Button

        .br
        
        button(type="button").btn.--primary.--lg
          span Button
        button(type="button").btn.--primary.--outline.--lg
          span Button
        button(type="button").btn.--primary.--ghost.--lg
          span Button

        button(type="button").btn.--link.--lg
          span Button

        button(type="button").btn.--secondary.--lg
          span Button
        button(type="button").btn.--secondary.--outline.--lg
          span Button
        button(type="button").btn.--secondary.--ghost.--lg
          span Button

        button(type="button").btn.--secondary-alt.--lg
          span Button
        button(type="button").btn.--secondary-alt.--outline.--lg
          span Button
        button(type="button").btn.--secondary-alt.--ghost.--lg
          span Button

        button(type="button").btn.--accent.--lg
          span Button
        button(type="button").btn.--accent.--outline.--lg
          span Button
        button(type="button").btn.--accent.--ghost.--lg
          span Button
          
        button(type="button").btn.--contrast.--lg
          span Button
        button(type="button").btn.--contrast.--outline.--lg
          span Button
        button(type="button").btn.--contrast.--ghost.--lg
          span Button

        .br
        
        button(type="button").btn.--primary
          span Button
        button(type="button").btn.--primary.--outline
          span Button
        button(type="button").btn.--primary.--ghost
          span Button

        button(type="button").btn.--link
          span Button

        button(type="button").btn.--secondary
          span Button
        button(type="button").btn.--secondary.--outline
          span Button
        button(type="button").btn.--secondary.--ghost
          span Button

        button(type="button").btn.--secondary-alt
          span Button
        button(type="button").btn.--secondary-alt.--outline
          span Button
        button(type="button").btn.--secondary-alt.--ghost
          span Button

        button(type="button").btn.--accent
          span Button
        button(type="button").btn.--accent.--outline
          span Button
        button(type="button").btn.--accent.--ghost
          span Button
          
        button(type="button").btn.--contrast
          span Button
        button(type="button").btn.--contrast.--outline
          span Button
        button(type="button").btn.--contrast.--ghost
          span Button

        .br
        
        button(type="button").btn.--primary.--sm
          span Button
        button(type="button").btn.--primary.--outline.--sm
          span Button
        button(type="button").btn.--primary.--ghost.--sm
          span Button

        button(type="button").btn.--link.--sm
          span Button

        button(type="button").btn.--secondary.--sm
          span Button
        button(type="button").btn.--secondary.--outline.--sm
          span Button
        button(type="button").btn.--secondary.--ghost.--sm
          span Button

        button(type="button").btn.--secondary-alt.--sm
          span Button
        button(type="button").btn.--secondary-alt.--outline.--sm
          span Button
        button(type="button").btn.--secondary-alt.--ghost.--sm
          span Button

        button(type="button").btn.--accent.--sm
          span Button
        button(type="button").btn.--accent.--outline.--sm
          span Button
        button(type="button").btn.--accent.--ghost.--sm
          span Button
          
        button(type="button").btn.--contrast.--sm
          span Button
        button(type="button").btn.--contrast.--outline.--sm
          span Button
        button(type="button").btn.--contrast.--ghost.--sm
          span Button

        .br
        
        button(type="button").btn.--primary.--xs
          span Button
        button(type="button").btn.--primary.--outline.--xs
          span Button
        button(type="button").btn.--primary.--ghost.--xs
          span Button

        button(type="button").btn.--link.--xs
          span Button

        button(type="button").btn.--secondary.--xs
          span Button
        button(type="button").btn.--secondary.--outline.--xs
          span Button
        button(type="button").btn.--secondary.--ghost.--xs
          span Button

        button(type="button").btn.--secondary-alt.--xs
          span Button
        button(type="button").btn.--secondary-alt.--outline.--xs
          span Button
        button(type="button").btn.--secondary-alt.--ghost.--xs
          span Button

        button(type="button").btn.--accent.--xs
          span Button
        button(type="button").btn.--accent.--outline.--xs
          span Button
        button(type="button").btn.--accent.--ghost.--xs
          span Button
          
        button(type="button").btn.--contrast.--xs
          span Button
        button(type="button").btn.--contrast.--outline.--xs
          span Button
        button(type="button").btn.--contrast.--ghost.--xs
          span Button


    include ./_include/_svg