.app-button-status {
  flex-shrink: 0;
  background: var(--color-d-3);
  color: var(--tg-theme-bg-color);
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  &>* {
    line-height: 1;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    &>span {
      line-height: 1;
      display: block;
      &[class*="__count"] {
        min-width: 20px;
        padding: 0 6px;
        border-radius: 15px;
        background: var(--tg-theme-bg-color);
        color: var(--color-d-3);
        margin-right: 10px;
        line-height: 20px;
      }
    }
  }
}

.app-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-black-rgba), 0.4);
  overflow: hidden;
  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: calc(100% - 98px);
  }
  &__close {
    background: var(--tg-theme-bg-color);
    box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 20px;
    top: -60px;
    position: absolute;
    svg {
      fill: var(--color-d-7);
      width: 26px;
      height: 26px;
      display: block;
      margin: 0 auto;
    }
  }
  &__head {
    height: 80px;
    border-bottom: 1px solid var(--color-l-3);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--color-black-inverse);
    &-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 50%;
      background: var(--color-gray);
      overflow: hidden;
      &.--your-pharmacy {
        background: var(--color-d-3);
      }
      &.--settings, &.--analogs {
        background: var(--color-d-4);
      }
      &.--document {
        background: var(--color-d-5);
      }
      &.--basic {
        background: var(--color-d-2);
        svg {
          fill: var(--color-d-2);
          transform-origin: 50%;
          transform: rotate(-180deg);
        }
      }
      svg {
        margin: 8px;
        fill: var(--color-white);
        width: 24px;
        height: 24px;
      }
    }
    &-span {
      line-height: 40px;
    }
  }
  &__content {
    background: var(--tg-theme-bg-color);
    border-radius: 25px 25px 0 0;
    overflow: auto;
    max-height: calc(100vh - 98px);
    height: auto;
    position: relative;
    &::before {
      content: '';
      position: fixed;
      left: 2px;
      right: 2px;
      height: 20px;
      background: linear-gradient(to top, rgba(var(--tg-theme-bg-color-rgb),0) 5px, var(--tg-theme-bg-color) 17px);
      border-radius: 25px 25px 0 0;
      z-index: 2;
    }
    &-wrapper {
      font-weight: 400;
      padding: 30px 20px;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 3px;
      background: var(--color-disabled)
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-d-5);
    }
  }
  &__separator {
    height: 1px;
    background: var(--color-l-3);
    clear: both;
    margin: 0 -20px 30px -20px;
  }
}

.app-modal-info {
  position: absolute;
  width: 298px;
  height: auto;
  background: var(--tg-theme-bg-color);
  box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
  border-radius: 7px;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  padding: 20px;
  &__content {
    overflow: hidden;
    p {
      line-height: 1.2;
    }
    .color {
      color: var(--color-d-5);
    }
  }
  &__title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__btns {
    display: flex;
    justify-content: center;
    &.--right {
      justify-content: flex-end;
    }
  }
  &__btn {
    flex-grow: 1;
    height: 34px;
    background: transparent;
    padding: 0 15px;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-d-1);
    &+* {
      // margin-left: 10px;
      color: var(--color-d-5);
    }
  }
  &__search-img {
    margin: -20px -20px 20px -20px;
  }
}

.app-preloader {
  position: absolute;
  width: 200px;
  height: auto;
  background: var(--tg-theme-bg-color);
  box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
  border-radius: 7px;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  &__img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }
  p {
    margin-bottom: 0;
  }
}