*, *:before, *:after {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
  min-width: 320px;
  background: var(--tg-theme-bg-color);
}

body {
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--tg-theme-bg-color);
  color: var(--text-color);
  // color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;

  --default-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --tg-theme-bg-color: #fff;
  --tg-theme-bg-color-rgb: 255,255,255;
  --text-color: #555;
  --color-d-1: #50A7EA;
  --color-d-2: #34B9F1;
  --color-d-3: #55BE61;
  --color-d-4: #F3C04B;
  --color-d-5: #EB6161;
  --color-d-6: var(--text-color);
  --color-d-7: #97A0A7;
  --color-d-8: #C4C4C4;
  --color-l-1: #F6F6F6;
  --color-l-1-to-dark: #F6F6F6;
  --color-l-2: #EDEDED;
  --color-l-3: #E0E0E0;
  --color-l-4: #D9ECFA;
  --color-red: #CE494A;
  --color-white: #fff;
  --color-black: #000;
  --color-black-rgba: 0,0,0;
  --color-disabled: #eee;
  --color-gray: #ccc;
  --table-border: #EDEDED;
  --color-black-inverse: #000;
  --color-you-pharmacy-line: rgba(255,255,255, 0.7);
  --btn-background: #eee;
  --collapsing-icon: var(--color-d-8);
  
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --tg-theme-bg-color: #333;
  --tg-theme-bg-color-rgb: 51,51,51;
  --text-color: #fff;
  --color-black-inverse: #fff;
  --color-l-1: #333;
  --color-l-2: #2b2b2b;
  --color-l-3: #2b2b2b;
  --color-l-1-to-dark: #2b2b2b;
  --table-border: #2b2b2b;
  --color-you-pharmacy-line: rgba(0,0,0, 0.7);
  --btn-background: #333;
  --collapsing-icon: #333;
}

#app, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--btn-background);
  color: var(--color-black-inverse);
  border: 0;
  outline: none;
  font-weight: 500;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

input {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.section {
  width: 100%;
  max-width: inherit;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  height: 100%;
  // border: 1px dashed pink;
  flex-grow: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background: var(--color-disabled)
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-d-5);
  }
}

@for $i from 0 through 100 {
  .bb#{$i} {
    border-bottom-width: #{$i}px !important;
  }
  .bt#{$i} {
    border-top-wiidth: #{$i}px !important;
  }
  .bl#{$i} {
    border-left-width: #{$i}px !important;
  }
  .br#{$i} {
    border-right-width: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .fs#{$i} {
    font-size: #{$i}px !important;
  }
}

/* no-padding, no-margin */
.no {
  &--p, &-padding {
    padding: 0 !important;
    &-top {
      padding-top: 0 !important;
    }
    &-bottom {
      padding-bottom: 0 !important;
    }
    &-left {
      padding-left: 0 !important;
    }
    &-right {
      padding-right: 0 !important;
    }
  }
  &--m, &-margin {
    margin: 0 !important;
    &-top {
      margin-top: 0 !important;
    }
    &-bottom {
      margin-bottom: 0 !important;
    }
    &-left {
      margin-left: 0 !important;
    }
    &-right {
      margin-right: 0 !important;
    }
  }
  &--b, &-background {
    background: none !important;
    &-image {
      background-image: none !important;
    }
  }
  &--border, &-border {
    border: 0 !important;
  }
}