*, *:before, *:after {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
  min-width: 320px;
  background: var(--tg-theme-bg-color);
}

body {
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;

  --default-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --tg-theme-bg-color: #fff;
  
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --tg-theme-bg-color: #333;
}

#app, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #eee;
  border: 0;
  outline: none;
  font-weight: 500;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #55BE61;
  border-radius: 7px;
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #55BE61;
  &:hover, &:focus, &:active {
    color: #55BE61;
    border-color: #55BE61;
    text-decoration: none;
  }
  &.--accent {
    color: var(--tg-theme-bg-color);
    background: #55BE61;
    &:hover, &:focus, &:active {

    }
  }
}

input {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.section {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  height: 100%;
  // border: 1px dashed pink;
  flex-grow: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #EB6161;
  }
}