*, *:before, *:after {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
  min-width: 320px;
  background: var(--tg-theme-bg-color);
}

body {
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  // color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;

  --default-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --tg-theme-bg-color: #fff;
  --text-color: #555;
  --color-d-1: #50A7EA;
  --color-d-2: #34B9F1;
  --color-d-3: #55BE61;
  --color-d-4: #F3C04B;
  --color-d-5: #EB6161;
  --color-d-7: #97A0A7;
  --color-d-8: #C4C4C4;
  --color-l-1: #F6F6F6;
  --color-l-3: #E0E0E0;
  --color-red: #CE494A;
  --color-white: #fff;
  --color-black: #000;
  --color-black-rgba: 0,0,0;
  --color-disabled: #eee;
  --color-gray: #ccc;
  --table-border: #EDEDED;
  --color-black-inverse: #000;
  --color-you-pharmacy-line: rgba(255,255,255, 0.7);
  --btn-background: #eee;
  
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --tg-theme-bg-color: #333;
  --text-color: #fff;
  --color-black-inverse: #fff;
  --color-l-1: #333;
  --color-l-3: #333;
  --color-you-pharmacy-line: rgba(0,0,0, 0.7);
  --btn-background: #333;
}

#app, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--btn-background);
  color: var(--color-black-inverse);
  border: 0;
  outline: none;
  font-weight: 500;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-d-3);
  border-radius: 7px;
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-d-3);
  &:hover, &:focus, &:active {
    color: var(--color-d-3);
    border-color: var(--color-d-3);
    text-decoration: none;
  }
  &.--accent {
    color: var(--tg-theme-bg-color);
    background: var(--color-d-3);
  }
}

input {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.section {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  height: 100%;
  // border: 1px dashed pink;
  flex-grow: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background: var(--color-disabled)
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-d-5);
  }
}