.catalog-more {
  padding: 15px 20px;
}

.catalog-list {
  // padding-bottom: 10px;
  &__item {
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    margin-bottom: -1px;
    &-wrapper {
      display: flex;
    }
    &-text {
      flex-grow: 1;
      line-height: 1.2;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: var(--color-l-3);
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-left: 10px;
      margin-top: -1px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    &-btns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .btn {
        margin-top: 10px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.catalog-list2 {
  display: flex;
  flex-wrap: wrap;
  // padding-bottom: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 1px;
    left: 0px;
    background: var(--color-l-3);
  }
  &__item {
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid var(--color-l-3);
    display: flex;
    flex-direction: column;
    &:nth-child(even) {
      border-right: 0;
      border-left: 1px solid var(--color-l-3);
    }
    &-thumb {
      position: relative;
      overflow: hidden;
      margin: 0 auto 10px;
      width: 120px;
      height: 120px;
      img {
        width: 120px;
        height: 120px;
        object-fit: contain;
      }
    }
    &-text {
      line-height: 1.2;
      font-size: 13px;
      flex-grow: 1;
      small {
        display: block;
        font-size: 10px;
        color: var(--color-d-7);
        margin-top: 5px;
      }
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-bottom: 10px;
      line-height: 1;
    }
    &-btns {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .btn {
        width: 100%;
        margin-bottom: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.catalog-head {
  &__count {
    color: var(--color-d-7);
    font-size: 13px;
    line-height: 1;
    flex-grow: 1;
  }
}

.catalog-view {
  display: flex;
  align-items: center;
  &__btn {
    background: transparent;
    text-decoration: none;
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
    .icon {
      width: 24px;
      height: 24px;
      fill: var(--color-d-7);
      display: block;
      margin: 0 auto;
    }
    &+* {
      margin-left: 4px;
    }
    &.active {
      .icon {
        fill: var(--color-d-3);
      }
    }
  }
}

.filter-head {
  display: flex;
  background: var(--color-l-3);
  min-height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
  border-top: 1px solid var(--color-l-3);
  border-bottom: 1px solid var(--color-l-3);
  &>div {
    width: 50%;
    &+div {
      border-left: 1px solid var(--color-l-3);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-weight: 400;
    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 10px;
      fill: var(--color-black-inverse);
    }
    &-count {
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: 10px;
      color: var(--tg-theme-bg-color);
      font-size: 13px;
      background: var(--color-d-3);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.pharmacies {
  .catalog-head {
    box-shadow: none;
    border-bottom: 1px solid var(--color-l-3);
  }
  .search {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
  &__search {
    padding: 15px 20px;
    border-bottom: 10px solid var(--color-l-2);
    &-filter {
      margin-bottom: -10px;
    }
  }
}
.pharmacies-group {
  border-bottom: 10px solid var(--color-l-2);
  &__head {
    border-bottom: 1px solid var(--color-l-2);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    &>.div1 {
      flex-grow: 1;
    }
    .btn {
      flex-shrink: 0;
      margin-left: 10px;
    }
  }
}
.pharmacies-list {
  &__item {
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-text {
      flex-grow: 1;
      line-height: 1.2;
    }
    &-p {
      color: var(--color-d-7);
      font-weight: 400;
      font-size: 13px;
      margin-top: 8px;
      line-height: 1.1;
      &+[class*="-p"] {
        margin-top: 4px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 0px;
      background: var(--color-l-3);
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      .icon, img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        display: block;
      }
    }
  }
  &__item2 {
    padding: 20px 48px 20px 80px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      .icon {
        width: 18px;
        height: 18px;
        fill: var(--color-d-7);
      }
    }
    &-text {
      flex-grow: 1;
      line-height: 1.2;
    }
    &-p {
      color: var(--color-d-7);
      font-weight: 400;
      font-size: 13px;
      margin-top: 8px;
      line-height: 1.1;
      &+* {
        margin-top: 4px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 80px;
      background: var(--color-l-3);
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      .icon, img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        display: block;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 1.1;
      .icon {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        &.color {
          fill: var(--color-d-3);
          &.--error {
            fill: var(--color-d-5);
          }
          &.--warning {
            fill: var(--color-d-4);
          }
        }
      }
      .color {
        color: var(--color-d-3);
        &.--error {
          color: var(--color-d-5);
        }
        &.--warning {
          color: var(--color-d-4);
        }
      }
    }
    &-location {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: var(--color-d-3);
      .icon {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        fill: var(--color-d-3);
      }
    }
  }
}

.btns-filter {
  display: flex;
  flex-wrap: wrap;
  &>* {
    margin-bottom: 10px;
    margin-right: 8px;
  }
  &+.btns-filter {
    margin-top: 10px;
  }
}