/* filter */
.filter {
  $this: &;
  background: #fff;
  padding-bottom: 10px;
  .modal & {
    box-shadow: none;
  }
  &__block {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 20px;
      height: 1px;
      background: #e0e0e0;
    }
    &-wrapper {
      padding-top: 0;
      transition: padding 0.35s;
      background: transparent;
    }
    &-head {
      line-height: 1.2;
      display: flex;
      align-items: center;
      position: relative;
      padding: 20px 20px;
      width: 100%;
      background: transparent;
      border: 0;
      font-weight: 500;
      svg.icon {
        display: none;
        width: 18px;
        height: 18px;
        display: block;
        fill: #97A0A7;
        transform-origin: 50%;
        flex-shrink: 0;
        margin-left: 10px;
        transform: rotate(90deg);
      }
      &>span {
        flex-grow: 1;
      }
    }
    &-group {
      margin-bottom: 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-container {
      padding: 0 0 20px 0;
      font-size: 0;
      margin: 0px;
      &::-webkit-scrollbar {
        width: 3px;
        background: #eee;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #EB6161;
      }
    }
    &.has-selected {
      #{$this}__block-head {
        &::before {
          display: block;
        }
      }
    }
    &.j-filter {
      #{$this}__block {
        &-head {
          cursor: pointer;
          svg.icon {
            display: block;
          }
        }
        &-wrapper {
          display: block;
        }
      }
      &.is-active {
        padding-bottom: 0;
        margin-bottom: 0;
        #{$this}__block {
          &-head {
            margin-bottom: 0;
            svg.icon {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
  &__slider {
    padding-bottom: 20px;
    padding-top: 8px;
  }
  &__cost {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    &-block {
      flex-grow: 1;
      margin-right: 8px;
      input {
        border: 1px solid #CCC;
        border-radius: 4px;
        background: #fff;
        height: 36px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        color: #555555;
      }
    }
    &-separator {
      width: 21px;
      flex-shrink: 0;
      text-align: center;
      color: #909090;
      font-weight: bold;
    }
    .btn {
      min-width: 46px;
      flex-shrink: 0;
    }
  }
  &__selected {
    padding: 0 20px;
    font-size: 14px;
    color: #000;
    &-head, &-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 28px;
      padding-right: 26px;
      margin-bottom: 12px;
      i {
        font-weight: 400;
      }
    }
    &-head {
      font-weight: 600;
      font-size: 18px;
      padding-right: 0;
    }
    &-row {
      background: #FFF3E7;
      border-radius: 6px;
      font-weight: 800;
      padding-left: 8px;
      &:last-child {
        margin-bottom: 12px;
      }
      &>div {
        &:first-child {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 5px;
        }
      }
    }
    &-close {
      background: transparent;
      border: 0;
      position: absolute;
      right: 3px;
      top: 2px;
      min-width: 24px;
      height: 24px;
      font-size: 0;
      &>span {
        display: block;
        font-size: 14px;
      }
      &::before {
        font-size: 24px;
        content: '\1f493';
        
        color: orange;
        display: block;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0 2px rgba(68,84,99, 0.25), 0 2px 8px rgba(68,84,99,0.25);
  }
}