/* filter */
.filter {
  $this: &;
  background: var(--tg-theme-bg-color);
  padding-bottom: 10px;
  .modal & {
    box-shadow: none;
  }
  &__block {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 20px;
      height: 1px;
      background: var(--color-l-3);
    }
    &-wrapper {
      padding-top: 0;
      transition: padding 0.35s;
      background: transparent;
    }
    &-head {
      line-height: 1.2;
      display: flex;
      align-items: center;
      position: relative;
      padding: 20px 20px;
      width: 100%;
      background: transparent;
      border: 0;
      font-weight: 500;
      svg.icon {
        display: none;
        width: 18px;
        height: 18px;
        display: block;
        fill: var(--color-d-7);
        transform-origin: 50%;
        flex-shrink: 0;
        margin-left: 10px;
        transform: rotate(90deg);
        &.reset {
          fill: var(--color-red);
          width: 25px;
          height: 25px;
          left: 10px;
          right: auto;
          position: absolute;
        }
      }
      &>span {
        flex-grow: 1;
      }
    }
    &-group {
      margin-bottom: 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-container {
      padding: 0 0 20px 0;
      font-size: 0;
      margin: 0px;
      &::-webkit-scrollbar {
        width: 3px;
        background: var(--color-disabled)
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-d-5);
      }
    }
    &.has-selected {
      #{$this}__block-head {
        &::before {
          display: block;
        }
      }
    }
    &.j-filter {
      #{$this}__block {
        &-head {
          cursor: pointer;
          svg.icon {
            display: block;
          }
        }
        &-wrapper {
          display: none;
        }
      }
      &.is-active {
        padding-bottom: 0;
        margin-bottom: 0;
        #{$this}__block {
          &-head {
            margin-bottom: 0;
            svg.icon {
              transform: rotate(-90deg);
            }
          }
          &-wrapper {
            display: block;
          }
        }
      }
    }
  }
}