.form-switch {
  position: relative;
  width: 30px;
  height: 13px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        background: var(--color-d-1);
        &::before {
          border-color: var(--color-d-1);
          left: 13px;
        }
      }
    }
  }
  &__div {
    height: 13px;
    width: 30px;
    background: var(--color-d-8);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2px;
      width: 19px;
      height: 19px;
      border-radius: 12px;
      background: var(--tg-theme-bg-color);
      border: 2px solid var(--color-d-8);
      transition: all .2s;
    }
  }
}

.form-radio {
  position: relative;
  width: 19px;
  height: 19px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        border-color: var(--color-d-1);
        &::before {
          background: var(--color-d-1);
        }
      }
    }
  }
  &__div {
    height: 20px;
    width: 20px;
    background: var(--tg-theme-bg-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid var(--color-d-8);
    transition: all .2s;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: var(--tg-theme-bg-color);
      transition: all .2s;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

.field-text {
  position: relative;
  margin-bottom: 0;
  display: block;
  $this: &;
  &:has(.field-text__input:focus) {
    color: var(--color-red);
  }
  &__name {
    color: var(--color-d-7);
    font-size: 16px;
    line-height: 13px;
    cursor: text;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    sup {
      color: var(--color-d-7);
      top: -3px;
      margin-left: 2px;
    }
    &.css-label {
      position: absolute;
      top: 18px;
      left: 0px;
      transition: all 0.5s;
      z-index: 1;
      margin: 0;
      font-size: 16px;
      pointer-events: none;
      color: var(--color-d-7);
      white-space: nowrap;
      line-height: 13px;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    color: var(--color-black-reverse);
    background: var(--tg-theme-bg-color);
    border: 0;
    border-bottom: 1px solid var(--color-l-3);
    border-radius: 0;
    box-shadow: none;
    // transition: color 0.35s, border-color 0.35s, background 0.35s;
    &:hover {
      border-color: var(--color-d-1);
      border-width: 2px;
      outline: none;
    }
    &.css-input {
      padding-top: 14px;
      
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
    &:focus {
      &~.field-text__name {
        color: currentColor;
      }
      &~[class*="__label"] {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:disabled {
      background: var(--color-disabled);
      border-color: var(--color-disabled);
      &:hover {
        background: var(--color-disabled);
        border-color: var(--color-disabled);
      }
    }
    &.textarea {
      min-height: 40px;
      height: auto;
      padding-bottom: 2px;
      padding-top: 18px;
    }
  }
  &__input-wrap {
    position: relative;
    display: block;
  }
  &__help-text {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    font-style: italic;
    color: var(--color-red);
    .has-error & {
      display: block !important;
    }
  }
  &__label {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    line-height: 40px;
    padding-left: 0px;
    opacity: 1;
    visibility: visible;
    z-index: 7;
    pointer-events: none;
    display: block;
    font-size: 6px;
    color: var(--color-d-7);
  }

  &.active, 
  &.active-full {
    #{$this} {
      &__name {
        color: var(--color-d-1);
        &.css-label {
          top: 2px;
          font-size: 11px;
          display: block;
          opacity: 1;
          z-index: 9;
          sup {
            color: var(--color-d-1);
          }
        }
      }
      &__input {
        border-width: 2px;
        border-color: var(--color-d-1);
      }
    }
  }

  &.has-error {
    #{$this} {
      &__help-text {
        color: var(--color-d-5);
      }
      &__input {
        border-color: var(--color-d-5);
        border-width: 2px;
      }
    }
  }

  &.has-success {
    #{$this} {
      &__input {
        border-color: var(--color-d-3);
        border-width: 2px;
      }
    }
  }

  &.has-warning {
    #{$this} {
      &__help-text {
        color: var(--color-d-5);
      }
      &__input {
        border-color: var(--color-d-5);
        border-width: 2px;
      }
    }
  }
}

textarea.field-text__input {
  height: auto;
  resize: vertical;
  padding: 0 0 5px 0;
  min-height: 40px;
  &.css-input {
    padding-top: 18px;
  }
}

.mssg-alert {
  background: var(--color-black);
  color: var(--tg-theme-bg-color);
  margin-bottom: 10px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  border-radius: 7px;
  &.--info {
    background: #D9ECFA;
    color: var(--color-d-2);
  }
  &.--error {
    background: #FCE9E9;
    color: var(--color-d-5);
  }
  &.--warning {
    background: var(--color-d-4);
    color: var(--block-bg-color);
  }
  &.--success {
    background: #C4E8C8;
    color: var(--color-d-3);
  }
}

.field-checkbox, .field-radio, .field-switch {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  background: transparent;
  $this: &;
  width: 100%;
  padding: 10px 20px;
  &:hover, &:focus {
    text-decoration: none;
  }
  &__span-input {
    position: relative;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 2px solid var(--color-d-8);
    border-radius: 3px;
    flex-shrink: 0;
    background: transparent;
    svg.icon {
      position: absolute;
      width: 22px;
      height: 22px;
      left: -2px;
      top: -2px;
      fill: var(--color-d-1);
      opacity: 0;
    }
  }
  &__label {
    line-height: 1.2;
    font-size: 15px;
    color: var(--color-black-inverse);
    display: block;
    padding: 0;
    cursor: pointer;
    transition: color 0.5s;
    text-align: left;
    font-weight: 400;
    margin: 2px 0 0 10px;
  }
  &__input {
    display: none;
    &:checked {
      &~#{$this} {
        &__span-input {
          border-color: transparent;
          background: transparent;
          svg.icon {
            opacity: 1;
          }
        }
      }
    }
    &:disabled {
      &~#{$this} {
        &__span-input, &__label {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
  &__number {
    color: var(--color-disabled);
    font-size: 12px;
    margin-left: 5px;
  }
  &:focus, 
  &:active {
    text-decoration: none;
  }
}

.field-checkbox {
  $this: &;
  &.checked {
    #{$this} {
      &__span-input {
        border-color: transparent;
        background: transparent;
        svg.icon {
          opacity: 1;
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input, 
      &__label {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.field-radio {
  $this: &;
  &__span-input {
    border-radius: 50%;
  }
  &__input {
    &:checked {
      &+* {
        border-color: var(--color-d-1);
        background: transparent;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: var(--color-d-1);
          transition: all .2s;
        }
      }
    }
    &:disabled {
      cursor: default;
      &~* {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  &.checked {
    #{$this} {
      &__span-input {
        border-color: var(--color-d-1);
        background: transparent;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: var(--color-d-1);
          transition: all .2s;
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input, 
      &__label {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}