.form-switch {
  position: relative;
  width: 30px;
  height: 13px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        background: #50A7EA;
        &::before {
          border-color: #50A7EA;
          left: 13px;
        }
      }
    }
  }
  &__div {
    height: 13px;
    width: 30px;
    background: #C4C4C4;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2px;
      width: 19px;
      height: 19px;
      border-radius: 12px;
      background: #fff;
      border: 2px solid #C4C4C4;
      transition: all .2s;
    }
  }
}

.form-radio {
  position: relative;
  width: 19px;
  height: 19px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        border-color: #50A7EA;
        &::before {
          background: #50A7EA;
        }
      }
    }
  }
  &__div {
    height: 20px;
    width: 20px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    transition: all .2s;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #fff;
      transition: all .2s;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

.field-text {
  position: relative;
  margin-bottom: 0;
  display: block;
  $this: &;
  &:has(.field-text__input:focus) {
    color: red;
  }
  &__name {
    color: #97A0A7;
    font-size: 16px;
    line-height: 13px;
    cursor: text;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    sup {
      color: #97A0A7;
      top: -3px;
      margin-left: 2px;
    }
    &.css-label {
      position: absolute;
      top: 18px;
      left: 0px;
      transition: all 0.5s;
      z-index: 1;
      margin: 0;
      font-size: 16px;
      pointer-events: none;
      color: #97A0A7;
      white-space: nowrap;
      line-height: 13px;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
    box-shadow: none;
    // transition: color 0.35s, border-color 0.35s, background 0.35s;
    &:hover {
      border-color: #50A7EA;
      border-width: 2px;
      outline: none;
    }
    &.css-input {
      padding-top: 14px;
      
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
    &:focus {
      &~.field-text__name {
        color: currentColor;
      }
      &~[class*="__label"] {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:disabled {
      background: #eee;
      border-color: #eee;
      &:hover {
        background: #eee;
        border-color: #eee;
      }
    }
    &.textarea {
      min-height: 40px;
      height: auto;
      padding-bottom: 2px;
      padding-top: 18px;
    }
  }
  &__input-wrap {
    position: relative;
    display: block;
  }
  &__help-text {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    font-style: italic;
    color: red;
    .has-error & {
      display: block !important;
    }
  }
  &__label {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    line-height: 40px;
    padding-left: 0px;
    opacity: 1;
    visibility: visible;
    z-index: 7;
    pointer-events: none;
    display: block;
    font-size: 6px;
    color: #97A0A7;
  }

  &.active, 
  &.active-full {
    #{$this} {
      &__name {
        color: #50A7EA;
        &.css-label {
          top: 2px;
          font-size: 11px;
          display: block;
          opacity: 1;
          z-index: 9;
          sup {
            color: #50A7EA;
          }
        }
      }
      &__input {
        border-width: 2px;
        border-color: #50A7EA;
      }
    }
  }

  &.has-error {
    #{$this} {
      &__help-text {
        color: #EB6161;
      }
      &__input {
        border-color: #EB6161;
        border-width: 2px;
      }
    }
  }

  &.has-success {
    #{$this} {
      &__input {
        border-color: #55BE61;
        border-width: 2px;
      }
    }
  }

  &.has-warning {
    #{$this} {
      &__help-text {
        color: #EB6161;
      }
      &__input {
        border-color: #EB6161;
        border-width: 2px;
      }
    }
  }
}

textarea.field-text__input {
  height: auto;
  resize: vertical;
  padding: 0 0 5px 0;
  min-height: 40px;
  &.css-input {
    padding-top: 18px;
  }
}

.mssg-alert {
  background: #000;
  color: #fff;
  margin-bottom: 30px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  &.--info {
    background: #34B9F1;
  }
  &.--error {
    background: #EB6161;
  }
  &.--warning {
    background: #F3C04B;
  }
  &.--success {
    background: #55BE61;
  }
  .review-form & {
    margin-top: -30px;
    margin-right: -20px;
    margin-left: -20px;
  }
}

.field-checkbox, .field-radio, .field-switch {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  background: transparent;
  $this: &;
  width: 100%;
  padding: 14px 20px;
  &__span-input {
    position: relative;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    flex-shrink: 0;
    margin-right: 10px;
    background: transparent;
    svg.icon {
      position: absolute;
      width: 17px;
      height: 17px;
      left: -1px;
      top: -1px;
      fill: #50A7EA;
      opacity: 0;
    }
  }
  &__label {
    line-height: 1.2;
    font-size: 15px;
    color: #000;
    display: block;
    padding: 0;
    cursor: pointer;
    transition: color 0.5s;
    text-align: left;
    font-weight: 400;
    margin: 0;
  }
  &__input {
    display: none;
    &:checked {
      &~#{$this} {
        &__span-input {
          border-color: transparent;
          background: transparent;
          svg.icon {
            opacity: 1;
          }
        }
      }
    }
    &:disabled {
      &~#{$this} {
        &__span-input, &__label {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
  &__number {
    color: #eee;
    font-size: 12px;
    margin-left: 5px;
  }
  &:focus, 
  &:active {
    text-decoration: none;
  }
}

.field-checkbox {
  $this: &;
  &.checked {
    #{$this} {
      &__span-input {
        border-color: transparent;
        background: transparent;
        svg.icon {
          opacity: 1;
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input, 
      &__label {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.field-radio {
  $this: &;
  &__span-input {
    border-radius: 50%;
    &::before {
      width: 14px;
      height: 14px;
      content: '';
      border-radius: 50%;
      background: #eee;
    }
  }
  &__input {
    &:checked {
      &~#{$this} {
        &__span-input {
          &::before {
            background: #ccc;
          }
        }
      }
    }
    &:disabled {
      &~#{$this} {
        &__span-input, 
        &__label {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
  &.checked {
    #{$this} {
      &__span-input {
        &::before {
          background: #ccc;
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input, 
      &__label {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}