.search {
  $this: &;
  flex-shrink: 0;
  margin: 15px 20px;
  // position: fixed;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  &__input {
    width: 100%;
    height: 40px;
    box-shadow: none;
    background: var(--color-l-1);
    border-radius: 150px;
    border: 0;
    padding: 0 80px 0 38px;
    color: var(--color-black);
    display: block;
  }
  [class*="__btn-"] {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    top: 5px;
    pointer-events: none;
    &:not([type="button"]) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: var(--color-d-7);
    }
  }
  &__btn-search {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 4px;
    svg.icon {
      width: 16px;
      height: 16px;
    }
  }
  &__btn-barcode {
    right: 10px;
  }
  &__btn-microphone {
    right: 40px;
  }
  &.--search-main {
    margin-top: 20px;
    margin-bottom: 20px;
    #{$this}__input {
      box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
      background: var(--tg-theme-bg-color);
    }
  }
}

.search2 {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  right: 0;
  &__input {
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
    border-radius: 0px;
    border: 0;
    padding: 0 80px 0 20px;
    color: var(--color-black-inverse);
    background: var(--tg-theme-bg-color);
  }
  [class*="__btn-"] {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    top: 20px;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: var(--color-d-7);
    }
  }
  &__btn-barcode {
    right: 10px;
  }
  &__btn-microphone {
    right: 40px;
  }
  &__btn-close {
    right: 10px;
    svg.icon {
      width: 24px;
      height: 24px;
    }
  }
}

.search-list {
  padding-top: 70px;
  padding-bottom: 10px;
  &__head {
    font-size: 14px;
    background: var(--color-l-1);
    padding: 15px 20px;
    color: var(--color-d-7);
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    min-height: 62px;
    svg.icon {
      width: 18px;
      height: 18px;
      fill: var(--color-d-7);
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-text {
      flex-grow: 1;
      line-height: 1.1;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 20px;
      background: var(--color-l-3);
    }
    &-count {
      min-width: 18px;
      text-align: center;
      font-size: 13px;
      color: var(--color-d-7);
      flex-shrink: 0;
      margin-left: 10px;
    }
  }
  &__item2 {
    display: flex;
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    font-weight: 500;
    &-text {
      flex-grow: 1;
      line-height: 1.1;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: var(--color-l-3);
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}