@import "./_reboot.scss";
@import "./_font.scss";

*, *:before, *:after {
  box-sizing: border-box;
}
:root {
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
}

html {
  line-height: 1.2;
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #0f0f0f);
  --text-color: #fff;
  --page-hint-color: #9b9ba1;
  --hint-color: #64666d;
  --placeholder-color: #5d6163;
}

#app, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #eee;
  border: 0;
  outline: none;
  font-weight: 500;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

input {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.section {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  height: 100%;
  // border: 1px dashed pink;
  flex-grow: 1;
}

.section1 {
  background: url('../images/section-1-bg.jpg') top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 117px;
    background: transparent;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12)) drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    &-round {
      position: absolute;
      top: 26px;
      // width: 785px;
      width: 170%;
      height: 235px;
      background: #fff;
      border-radius: 25px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px 0 22px;
      position: relative;
      z-index: 2;
    }
    &-btn {
      padding: 4px 0  0 0;
      border: 0;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #555555;
      font-size: 11px;
      text-align: center;
      position: relative;
      font-weight: 700;
      &::before, &::after {
        content: '';
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
      &::after {
        width: 52px;
        height: 52px;
        background: #fff;
        top: 0;
        z-index: 1;
      }
      svg {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 4;
        margin: 10px;
        fill: #fff;
        &+span {
          margin-top: 7px;
          line-height: 1;
          width: 70px;
        }
      }
      &.--your-pharmacy {
        top: 9px;
        &::before {
          background: #55BE61;
        }
      }
      &.--catalog {
        &::before {
          background: #34B9F1;
        }
      }
      &.--settings {
        top: 9px;
        &::before {
          background: #F3C04B;
        }
      }
    }
  }
  &__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 117px;
  }
}

.app-button-status {
  flex-shrink: 0;
  background: #55BE61;
  color: #fff;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &>* {
    line-height: 1;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    &>span {
      line-height: 20px;
      display: block;
    }
  }
  &__count {
    width: 20px;
    padding: 0 2px;
    border-radius: 50%;
    background: #fff;
    color: #55BE61;
    margin-right: 10px;
  }
}

.btn-buy {
  background-color: #55BE61;
  font-size: 21px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.you-pharmacy-line {
  height: 30px;
  background: #55BE61;
  flex-shrink: 0;
  // color: rgba(255,255,255,0.2);
  color: #fff;
  text-align: center;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(255,255,255, 0.7);
  font-weight: 400;
  &__btn {
    background: transparent;
    border: 0;
    padding: 0;
    font-weight: 400;
    min-width: 1px;
    span {
      border-bottom: 1px dashed currentColor;
      color: #fff;
      display: block;
      line-height: 1.1;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 8px 0;
    }
  }
  &__text {
    margin: 9px 5px 0 0;
    line-height: 1;
    flex-shrink: 0;
  }
  svg {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    flex-shrink: 0;
    fill: #fff;
  }
}

.search {
  flex-shrink: 0;
  margin: 20px;
  position: relative;
  &__input {
    width: 100%;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 150px;
    border: 0;
    padding: 0 80px 0 38px;
    color: black;
  }
  [class*="__btn-"] {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    top: 5px;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: #97A0A7;
    }
  }
  .search__btn-search {
    pointer-events: none;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 12px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__btn-barcode {
    right: 10px;
  }
  &__btn-microphone {
    right: 40px;
  }
}

.app-modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: calc(100% - 98px);
    height: 100%;
  }
  &__close {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 20px;
    top: -60px;
    position: absolute;
    svg {
      fill: #393939;
      width: 26px;
      height: 26px;
      display: block;
      margin: 0 auto;
    }
  }
  &__content {
    background: #fff;
    border-radius: 25px 25px 0 0;
    overflow: auto;
    height: 100%;
    min-height: auto;
    &-head {
      height: 80px;
      border-bottom: 1px solid #E0E0E0;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    &-wrapper {
      font-weight: 400;
      padding: 30px 20px;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}