@import "./_reboot.scss";
@import "./_font.scss";

@import "./_base.scss";
@import "../dist/js/swiper/swiper-bundle.css";
@import "../dist/js/ion.rangeSlider/ion.rangeSlider.css";
@import "./_search.scss";
@import "./_form.scss";
@import "./_search.scss";
@import "./_filter.scss";

.section1 {
  background: url('../images/section-1-bg.jpg') top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 117px;
    background: transparent;
    z-index: 3;
    filter: drop-shadow(0px 5px 10px rgba(var(--color-black-rgba), 0.14)) drop-shadow(0px 1px 18px rgba(var(--color-black-rgba), 0.12)) drop-shadow(0px 3px 5px rgba(var(--color-black-rgba), 0.2));
    &-round {
      position: absolute;
      top: 26px;
      // width: 785px;
      width: 170%;
      height: 235px;
      background: var(--tg-theme-bg-color);
      border-radius: 25px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px 0 22px;
      position: relative;
      z-index: 2;
    }
    &-btn {
      padding: 4px 0  0 0;
      border: 0;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--text-color);
      font-size: 11px;
      text-align: center;
      position: relative;
      font-weight: 700;
      &::before, &::after {
        content: '';
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
      &::after {
        width: 52px;
        height: 52px;
        background: var(--tg-theme-bg-color);
        top: 0;
        z-index: 1;
      }
      svg {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 4;
        margin: 10px;
        fill: var(--color-white);
        &+span {
          margin-top: 7px;
          line-height: 1;
          width: 70px;
        }
      }
      &.--your-pharmacy {
        top: 9px;
        &::before {
          background: var(--color-d-3);
        }
      }
      &.--catalog {
        &::before {
          background: var(--color-d-2);
        }
      }
      &.--settings {
        top: 9px;
        &::before {
          background: var(--color-d-4);
        }
      }
    }
  }
  &__wrapper {
    flex-grow: 1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding-bottom: 117px;
    // padding-top: 47px;
    position: relative;
    height: 100%;
    z-index: 1;
  }
  &__slider {
    height: 100%;
    position: relative;
    .swiper-slide {
      background: transparent;
      height: 100%;
    }
  }
}

/* loader */
.loader {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  background-color: var(--tg-theme-bg-color);
}

.swiper-img {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--tg-theme-bg-color);
	z-index: 999;
	transform: translate(-50%,-50%);
  img {
    object-fit: contain;
  }
}

.app-button-status {
  flex-shrink: 0;
  background: var(--color-d-3);
  color: var(--tg-theme-bg-color);
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  &>* {
    line-height: 1;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    &>span {
      line-height: 1;
      display: block;
      &[class*="__count"] {
        min-width: 20px;
        padding: 0 6px;
        border-radius: 15px;
        background: var(--tg-theme-bg-color);
        color: var(--color-d-3);
        margin-right: 10px;
        line-height: 20px;
      }
    }
  }
}

.btn-buy {
  background-color: var(--color-d-3);
  font-size: 21px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.you-pharmacy-line {
  height: 30px;
  background: var(--color-d-3);
  flex-shrink: 0;
  // color: rgba(255,255,255,0.2);
  // color: var(--tg-theme-bg-color);
  text-align: center;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 12px;
  color: var(--color-you-pharmacy-line);
  font-weight: 400;
  &__btn {
    background: transparent;
    border: 0;
    padding: 0;
    font-weight: 400;
    min-width: 1px;
    span {
      border-bottom: 1px dashed currentColor;
      color: var(--tg-theme-bg-color);
      display: block;
      line-height: 1.1;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 8px 0;
    }
  }
  &__text {
    margin: 9px 5px 0 0;
    line-height: 1;
    flex-shrink: 0;
  }
  svg {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    flex-shrink: 0;
    fill: var(--tg-theme-bg-color);
  }
}

.app-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-black-rgba), 0.4);
  overflow: hidden;
  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: calc(100% - 98px);
  }
  &__close {
    background: var(--tg-theme-bg-color);
    box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 20px;
    top: -60px;
    position: absolute;
    svg {
      fill: var(--color-d-7);
      width: 26px;
      height: 26px;
      display: block;
      margin: 0 auto;
    }
  }
  &__head {
    height: 80px;
    border-bottom: 1px solid var(--color-l-3);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--color-black-inverse);
    &-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 50%;
      background: var(--color-gray);
      overflow: hidden;
      &.--your-pharmacy {
        background: var(--color-d-3);
      }
      &.--settings, &.--analogs {
        background: var(--color-d-4);
      }
      &.--document {
        background: var(--color-d-5);
      }
      &.--basic {
        background: var(--color-d-2);
        svg {
          fill: var(--color-d-2);
          transform-origin: 50%;
          transform: rotate(-180deg);
        }
      }
      svg {
        margin: 8px;
        fill: var(--color-white);
        width: 24px;
        height: 24px;
      }
    }
    &-span {
      line-height: 40px;
    }
  }
  &__content {
    background: var(--tg-theme-bg-color);
    border-radius: 25px 25px 0 0;
    overflow: auto;
    max-height: calc(100vh - 98px);
    height: auto;
    position: relative;
    &::before {
      content: '';
      position: fixed;
      left: 2px;
      right: 2px;
      height: 20px;
      background: linear-gradient(to top, rgba(255,255,255,0) 5px, var(--tg-theme-bg-color) 17px);
      border-radius: 25px 25px 0 0;
      z-index: 2;
    }
    &-wrapper {
      font-weight: 400;
      padding: 30px 20px;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 3px;
      background: var(--color-disabled)
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-d-5);
    }
  }
  &__separator {
    height: 1px;
    background: var(--color-l-3);
    clear: both;
    margin: 0 -20px 30px -20px;
  }
}

.you-pharmacy {
  margin: -30px -20px;
  font-weight: 500;
  &__bottom {
    box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
    padding: 15px 20px;
    background: var(--tg-theme-bg-color);
  }
  &__item {
    min-height: 76px;
    padding-left: 79px;
    position: relative;
    display: flex;
    align-items: center;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 79px;
      background: var(--color-l-3);
    }
    .form-switch {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
    }
    &-row {
      line-height: 1.2;
      margin: 5px 0;
      small {
        display: block;
        color: var(--color-d-7);
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}

.app-settings {
  margin: -30px -20px;
  font-weight: 500;
  &__head {
    padding: 8px 20px;
    font-size: 11px;
    color: var(--color-d-1);
  }
  &__item {
    min-height: 76px;
    padding-left: 79px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 79px;
      background: var(--color-l-3);
    }
    .form-radio {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
    }
    &-row {
      line-height: 1.2;
      margin: 5px 0;
      small {
        display: block;
        color: var(--color-d-7);
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}

.catalog-list {
  padding-bottom: 10px;
  &__item {
    display: flex;
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-text {
      flex-grow: 1;
      line-height: 1.2;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: var(--color-l-3);
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}

.catalog-list2 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 1px;
    left: 0px;
    background: var(--color-l-3);
  }
  &__item {
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid var(--color-l-3);
    &:nth-child(even) {
      border-right: 0;
      border-left: 1px solid var(--color-l-3);
    }
    &-thumb {
      position: relative;
      overflow: hidden;
      margin: 0 auto 10px;
      width: 120px;
      height: 120px;
      img {
        width: 120px;
        height: 120px;
        object-fit: contain;
      }
    }
    &-text {
      line-height: 1.2;
      font-size: 13px;
      small {
        display: block;
        font-size: 10px;
        color: var(--color-d-7);
        margin-top: 5px;
      }
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-bottom: 10px;
      line-height: 1;
    }
  }
}

.catalog-head {
  display: flex;
  padding: 15px 20px 40px 15px;
  align-items: center;
  &>.div1 {
    flex-grow: 1;
  }
  &>.div2 {
    flex-shrink: 0;
    margin-left: 10px;
  }
  &__title {
    font-size: 17px;
    color: var(--color-black-inverse);
    line-height: 1.2;
  }
  &__count {
    color: var(--color-d-7);
    font-size: 13px;
    margin-top: 10px;
    line-height: 1;
    position: absolute;
  }
}

.catalog-view {
  display: flex;
  align-items: center;
  &__btn {
    background: transparent;
    text-decoration: none;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    .icon {
      width: 24px;
      height: 24px;
      fill: var(--color-d-7);
      display: block;
      margin: 0 auto;
    }
    &+* {
      margin-left: 4px;
    }
    &.active {
      .icon {
        fill: var(--color-d-3);
      }
    }
  }
}

.filter-head {
  display: flex;
  background: var(--color-l-3);
  min-height: 50px;
  &>div {
    width: 50%;
    &+div {
      border-left: 1px solid var(--color-l-3);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-weight: 400;
    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 10px;
      fill: var(--color-black-inverse);
    }
    &-count {
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: 10px;
      color: var(--tg-theme-bg-color);
      font-size: 13px;
      background: var(--color-d-3);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.category-head, .checkout-head {
  min-height: 70px;
  box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 20px;
  &__btn {
    background: var(--color-l-1);
    border-radius: 50%;
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 10px;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: var(--color-d-7);
    }
  }
  &__title {
    flex-grow: 1;
    color: var(--color-black-inverse);
    font-size: 17px;
    line-height: 1.2;
  }
}

.category-list {
  padding-bottom: 20px;
  &__item {
    display: flex;
    padding: 22px 48px 22px 80px;
    width: 100%;
    position: relative;
    min-height: 60px;
    &-text {
      line-height: 1.1;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 80px;
      background: var(--color-l-3);
    }
    &-thumb {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
      border-radius: 80%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 24px;
        height: 24px;
        &.--category1 {
          fill: #28A49A;
        }
        &.--category2 {
          fill: #66BC6B;
        }
        &.--category3 {
          fill: #9CCC65;
        }
        &.--category4 {
          fill: #FEC92A;
        }
        &.--category5 {
          fill: #FDA926;
        }
        &.--category6 {
          fill: #FF7046;
        }
        &.--category7 {
          fill: #CF312C;
        }
      }
    }
    &-arrow {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      svg.icon {
        width: 18px;
        height: 18px;
        fill: var(--color-d-7);
      }
    }
  }
  &__item2 {
    display: flex;
    padding: 22px 48px 22px 20px;
    width: 100%;
    position: relative;
    min-height: 60px;
    &-text {
      line-height: 1.1;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 20px;
      background: var(--color-l-3);
    }
    &-arrow {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      svg.icon {
        width: 18px;
        height: 18px;
        fill: var(--color-d-7);
      }
    }
  }
}

.analogs-list {
  margin: -30px -20px;
  padding-bottom: 5px;
  &__wrapper {
    padding-bottom: 5px;
  }
  &__head {
    font-size: 14px;
    background: var(--color-l-1);
    padding: 15px 20px;
    font-weight: 500;
  }
  &__item {
    display: flex;
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    font-weight: 500;
    &-text {
      flex-grow: 1;
      line-height: 1.1;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: var(--color-l-3);
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}

.product-parameters {
  $this: &;
  width: 100%;
  font-size: 14px;
  line-height: 1.1;
  margin: 0 0 20px 0;
  border-top: 1px solid var(--table-border);
  caption {
    font-size: 15px;
    line-height: 1.2;
    caption-side: top;
    padding: 0;
    color: var(--text-color);
    padding-bottom: 20px;
    font-weight: 500;
  }
  a {
    text-decoration: underline;
    color: var(--color-d-1);
  }
  &>tbody {
    &>tr {
      &>td {
        border-bottom: 1px solid var(--table-border);
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        &:first-child {
          width: 160px;
          color: var(--color-d-7);
          padding-right: 10px;
        }
      }
      span:not([data-link]) {
        display: inline-block;
        padding-left: 24px;
        position: relative;
        line-height: 1.07;
        &:first-letter {
          text-transform: capitalize;
        }
        i {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -1px;
          font-size: 17px;
          transform: translate(0,-50%);
        }
      }
      span[data-link] {
        color: var(--color-d-1);
        cursor: pointer;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      &.product-parameters__category {
        &>td {
          padding-right: 0;
          width: auto;
        }
        table {
          display: block;
          tbody {
            display: block;
            &>tr {
              display: flex;
              flex-direction: column;
              p {
                margin-bottom: 10px;
              }
              td {
                &:last-child {
                  p {
                    margin-bottom: 0;
                    &.atc-code {
                      color: var(--color-d-6);
                      margin-bottom: 10px;
                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.block-lights {
  margin-bottom: 30px;
  &__head {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  &__grid-icon {
    position: relative;
    .icon {
      fill: var(--color-d-7);
      width: 34px;
      height: 34px;
      display: block;
      &+.icon {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 21px;
        right: 1px;
      }
      &.icon_color_1 {
        fill: var(--color-d-3);
      }
      &.icon_color_2 {
        fill: var(--color-d-4);
      }
      &.icon_color_3 {
        fill: var(--color-d-5);
      }
    }
    i {
      font-size: 34px;
      position: relative;
      color: var(--color-d-7);
      i {
        position: absolute;
        top: 21px;
        right: 1px;
        font-size: 13px;
        background: var(--tg-theme-bg-color);
      }
    }
    .icon-check-circle {
      color: var(--color-d-4);
    }
    .icon-exclamation-circle {
      color: var(--color-d-5);
    }
    .icon-minus-circle {
      color: var(--color-red);
    }
  }
  &__grid-row {
    display: grid;
    grid-template-columns: 34px 1fr;
    grid-column-gap: 10px;
  }
  &__title {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 5px;
    color: var(--color-d-7);
  }
  &__desk {
    font-size: 10px;
    line-height: 1.2;
  }
}

.collapsible-container {
  border-radius: 4px;
  margin-bottom: 0px;
  &__row {
    border-bottom: 1px solid var(--color-l-3);
  }
  .collapsible-heading {
    display: flex;
    align-items: center;
    border: 0;
    width: 100%;
    padding: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    background: transparent;
    h4, h3, h2, h1, .h4, .h3, .h2, .h1, button {
      margin-bottom: 0;
      position: relative;
      display: flex;
      align-items: center;
      vertical-align: middle;
      min-height: inherit;
      padding: 23px 0;
      color: var(--text-color);
      text-decoration: none;
      font-size: 15px;
      background: transparent;
      border: 0;
      width: 100%;
    }
    &.open-block {
      svg.icon {
        opacity: 0;
        visibility: visible;
        &.--minus {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__arrow {
      width: 24px;
      height: 24px;
      position: relative;
      flex-shrink: 0;
      margin-left: 15px;
      display: block;
      svg.icon {
        display: block;
        height: 24px;
        width: 24px;
        position: absolute;
        left: 0;
        top: 0;
        fill: var(--collapsing-icon);
        transition: all 0.35s;
        &.--minus {
          opacity: 0;
          visibility: hidden;
        }
      }
      .open-block & {
        
      }
    }
  }
  .collapsible-block {
    font-size: 14px;
    h4, h3, h2, h1, .h4, .h3, .h2, .h1 {
      &:first-child {
        margin-top: 0;
      }
    }
    p, ol, ul {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &>div {
      padding-bottom: 20px;
      h4, h3, h2, h1, .h4, .h3, .h2, .h1 {
        &:first-child {
          margin-top: 0;
        }
      }
      p, ol, ul {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.product-quantity {
  margin-bottom: 22px;
  &__head {
    margin-bottom: 15px;
    line-height: 1.2;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    &>a, &>span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px 9px;
      margin-bottom: 8px;
      line-height: 2.42;
      min-width: 60px;
      text-decoration: none;
      font-size: 13px;
      border-radius: 4px;
      border: 1px solid var(--color-l-3);
      text-align: center;
      margin-right: 10px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      transition: border 0.35s;
      color: var(--text-color);
      &:last-child {
        margin-right: 0px;
      }
    }
    &>a {
      &:hover {
        &:not(.disabled) {
          border-color: var(--color-d-3);
        }
      }
    }
    &>.active {
      border-color: var(--color-d-3);
      box-shadow: inset 0 0 0 1px var(--color-d-3);
    }
    &>.disabled {
      border-color: var(--color-l-3);
      color: var(--color-l-3);
      &::before {
        content: '';
        position: absolute;
        left: -3px;
        right: -3px;
        height: 2px;
        background: var(--color-l-3);
        top: 50%;
        transform-origin: 50%;
        transform: translateY(-50%) rotate(-29deg);
      }
      &.active {
        border-color: var(--color-l-3);
      }
    }
  }
}

.product {
  padding: 20px;
  &__head {
    margin-bottom: 15px;
    &-title {
      color: var(--color-black-inverse);
      font-size: 17px;
      line-height: 1.2;
    }
    &-desc {
      color: var(--color-d-7);
      font-size: 13px;
      margin-top: 10px;
      line-height: 1.2;
    }
    &-available {
      margin-top: 10px;
      background: var(--color-l-1);
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      padding: 4px;
      font-size: 11px;
      color: var(--color-d-7);
      font-weight: 400;
      line-height: 1;
      .icon {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 6px;
        fill: var(--color-d-3);
      }
    }
  }
}

.product-menu {
  box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0;
  margin: 0 -20px -20px -20px;
  &__btn {
    border: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--color-d-6);
    background: transparent;
    width: 100%;
    &-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 50%;
      background: var(--color-gray);
      overflow: hidden;
      &.--your-pharmacy {
        background: var(--color-d-3);
      }
      &.--settings, &.--analogs {
        background: var(--color-d-4);
      }
      &.--document {
        background: var(--color-d-5);
      }
      &.--basic {
        background: var(--color-d-2);
        svg {
          fill: var(--color-d-2);
          transform-origin: 50%;
          transform: rotate(-180deg);
        }
      }
      &.--comment {
        background: var(--color-d-3);
      }
      svg {
        margin: 8px;
        fill: var(--color-white);
        width: 24px;
        height: 24px;
      }
    }
    &-span {
      line-height: 40px;
    }
  }
}

.product-price {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  &__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    &>div {
      &+div {
        position: relative;
        padding-left: 20px;
        &::before {
          content: '';
          position: absolute;
          left: 10px;
          top: 0;
          bottom: 0;
          width: 1px;
          background: var(--color-l-3);
        }
      }
    }
  }
  &__btn {
    border-radius: 50%;
    background: var(--color-d-3);
    padding: 0;
    border: 0;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    margin-left: 10px;
    position: relative;
    svg.icon {
      display: block;
      width: 28px;
      height: 28px;
      margin: 0 auto;
      fill: var(--tg-theme-bg-color);
      &.--check {
        fill: var(--color-d-5);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        top: -2px;
        right: 2px;
        position: relative;
      }
    }
    &-round {
      background: var(--tg-theme-bg-color);
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 1;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: block;
      opacity: 0;
      visibility: hidden;
      // transition: all 0.35s;
      .active & {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__label {
    color: var(--color-d-7);
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
  }
  &__price {
    font-size: 20px;
    line-height: 1;
    color: var(--color-black-inverse);
    small {
      font-size: 13px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  &-slide {
    text-align: center;
    font-size: 15px;
    background: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      object-fit: contain;
    }
  }
}

.product-gallery {
  margin-bottom: 15px;
  position: relative;
  .swiper-slide {
    width: 240px;
    height: 240px;
  }
  .swiper-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: var(--color-l-1);
    color: var(--color-d-7);
    font-size: 13px;
    padding: 3px 7px;
    width: auto;
    left: auto;
    line-height: 1.2;
    font-weight: 500;
  }
}

.review-form {
  border-bottom: 1px solid var(--color-l-3);
  margin: -30px -20px 0px -20px;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  &__btn {
    text-align: center;
    display: flex;
    padding-top: 10px;
    .btn {
      flex-grow: 1;
      &+.btn {
        margin-left: 10px;
      }
    }
  }
  [data-number="1"] {
    .irs-grid-pol {
      &:not(.small) {
        &:nth-child(1) {
          background: var(--color-d-1);
        }
      }
    }
  }
  [data-number="2"] {
    .irs-grid-pol {
      &:not(.small) {
        &:nth-child(-n+6) {
          background: var(--color-d-1);
        }
      }
    }
  }
  [data-number="3"] {
    .irs-grid-pol {
      &:not(.small) {
        &:nth-child(-n+11) {
          background: var(--color-d-1);
        }
      }
    }
  }
  [data-number="4"] {
    .irs-grid-pol {
      &:not(.small) {
        &:nth-child(-n+16) {
          background: var(--color-d-1);
        }
      }
    }
  }
  [data-number="5"] {
    .irs-grid-pol {
      &:not(.small) {
        &:nth-child(-n+21) {
          background: var(--color-d-1);
        }
      }
    }
  }
  &__estimate {
    margin-bottom: 20px;
    &-label {
      margin-bottom: 15px;
      color: var(--color-d-7);
      font-size: 16px;
    }
    .irs-single {
      display: none;
    }
    .irs--round .irs-line {
      background: var(--color-d-7);
      height: 2px;
    }
    .irs--round .irs-bar {
      background: var(--color-d-1);
      height: 2px;
    }
    .irs-grid-pol {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-left: -3px;
      top: 38px;
      box-shadow: 0 0 0 2px var(--tg-theme-bg-color);
      background: var(--color-d-7);
      z-index: 1;
      &.small {
        opacity: 0;
        visibility: hidden;
      }
    }
    .irs--round .irs-handle {
      width: 15px;
      height: 15px;
      background: var(--color-d-1);
      border: 2px solid var(--tg-theme-bg-color);
      top: 29px;
      box-shadow: none;
      z-index: 2;
    }
    .irs-grid {
      bottom: 44px;
    }
    .irs--round .irs-grid-text {
      font-size: 12px;
      color: var(--color-d-7);
    }
  }
}

.comment-list {
  padding: 20px;
  margin: 0 -20px -30px -20px;
}

.comment {
  margin-bottom: 15px;
  border: 1px solid var(--color-l-3);
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  &:last-child {
    margin-bottom: 0;
  }
  &.--answer {
    margin-left: 20px;
  }
  &__head {
    margin-bottom: 15px;
    .rating {
      margin-bottom: 0;
    }
  }
  &__name {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 6px;
    font-weight: 500;
  }
  &__date {
    color: var(--color-d-7);
    margin-bottom: 5px;
    line-height: 1;
  }
  &__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-more {
      background: transparent;
      padding: 0;
      text-decoration: underline;
      border: 0;
      color: var(--color-d-2);
      font-size: 11px;
    }
    &.--more {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  &__foot {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &-btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
      .btn {
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--color-d-7);
        font-weight: 400;
        &+.btn {
          margin-top: 6px;
        }
        svg {
          width: 20px;
          height: 20px;
          display: block;
          margin-right: 4px;
          fill: var(--color-d-7);
          flex-shrink: 0;
        }
        span {
          line-height: 1;
        }
      }
    }
    &-response {
      display: flex;
      font-size: 14px;
      .btn {
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        color: var(--color-d-7);
        font-weight: 400;
        &+.btn {
          margin-left: 10px;
        }
        svg {
          width: 20px;
          height: 20px;
          display: block;
          margin-right: 4px;
          fill: var(--color-d-7);
          flex-shrink: 0;
        }
        span {
          line-height: 1;
        }
        &.active {
          svg.--like {
            fill: var(--color-d-3);
          }
          svg.--dislike {
            fill: var(--color-d-5);
          }
        }
      }
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  svg {
    width: 9px;
    height: 9px;
    display: block;
    margin-right: 2px;
    fill: var(--color-d-8);
  }
  &.--r-1 {
    svg {
      &:first-child {
        fill: var(--color-d-4);
      }
    }
  }
  &.--r-2 {
    svg {
      &:nth-child(-n+2) {
        fill: var(--color-d-4);
      }
    }
  }
  &.--r-3 {
    svg {
      &:nth-child(-n+3) {
        fill: var(--color-d-4);
      }
    }
  }
  &.--r-4 {
    svg {
      &:nth-child(-n+4) {
        fill: var(--color-d-4);
      }
    }
  }
  &.--r-5 {
    svg {
      fill: var(--color-d-4);
    }
  }
}

.app-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: var(--tg-theme-bg-color);
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__head {
    flex-shrink: 0;
    min-height: 70px;
    box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 20px;
    position: fixed;
    width: 100%;
    background: var(--tg-theme-bg-color);
    top: 0;
    left: 0;
    z-index: 3;
    &-btn {
      background: transparent;
      border-radius: 50%;
      border: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-left: 10px;
      svg {
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 auto;
        fill: var(--color-d-7);
      }
    }
    &-title {
      flex-grow: 1;
      color: var(--color-black-inverse);
      font-size: 17px;
      line-height: 1.2;
    }
  }
  &__body {
    flex-grow: 1;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 70px;
    &-wrapper {
      height: 100%;
      overflow: auto;
      scrollbar-gutter: stable;
      &::-webkit-scrollbar {
        width: 3px;
        background: var(--color-disabled)
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-d-5);
      }
    }
  }
  &__foot {
    flex-shrink: 0;
    height: 70px;
    box-shadow: 0px 0px 2px rgba(var(--color-black-rgba), 0.15), 0px 2px 7px 1px rgba(var(--color-black-rgba), 0.1);
    background: var(--tg-theme-bg-color);
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 15px 20px;
    display: flex;
    z-index: 3;
    .btn {
      flex-grow: 1;
      &+.btn {
        margin-left: 10px;
      }
    }
    &-count {
      line-height: 20px;
      background: var(--tg-theme-bg-color);
      padding: 0 6px;
      font-size: 13px;
      border-radius: 15px;
      color: var(--color-d-3);
      margin-left: 10px;
    }
  }
}

.sort {
  position: relative;
  &__dropdown {
    position: absolute;
    top: 100%;
    background: var(--tg-theme-bg-color);
    box-shadow: 0px 0px 1px rgba(var(--color-black-rgba), 0.2), 0px 1px 1px rgba(var(--color-black-rgba), 0.05), 0px 2px 10px rgba(var(--color-black-rgba), 0.04);
    border-radius: 6px;
    overflow: hidden;
    z-index: 5;
    width: 160px;
    margin-top: -10px;
    padding: 2px 0;
    &-btn {
      text-align: left;
      font-weight: 400;
      text-decoration: none;
      background: transparent;
      width: 100%;
      border: 0;
      padding: 9px 16px;
      color: var(--text-color);
      line-height: 1.2;
    }
  }
}

.checkout-list {
  padding-bottom: 10px;
  &__item {
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-text {
      line-height: 1.2;
      margin-bottom: 10px;
      padding-right: 30px;
      small {
        display: block;
        font-size: 13px;
        color: var(--color-d-7);
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: var(--color-l-3);
    }
    &-price {
      font-size: 13px;
      color: var(--color-d-3);
      flex-shrink: 0;
      line-height: 1.1;
      padding-top: 12px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 20px;
      overflow: hidden;
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      .block-count {
        &+.block-count {
          margin-top: 5px;
        }
      }
    }
    &-count {
      flex-grow: 1;
      margin-right: 10px;
    }
    &-delete {
      width: 22px;
      height: 22px;
      position: absolute;
      background: transparent;
      padding: 0;
      border: 0;
      top: 20px;
      right: 20px;
      svg.icon {
        width: 18px;
        height: 18px;
        display: block;
        fill: var(--color-d-7);
        margin: 0 auto;
      }
    }
  }
}

.block-count {
  $this: &;
  width: 150px;
  overflow: hidden;
  position: relative;
  margin: 0;
  height: 40px;
  padding: 0;
  &__input {
    height: 40px;
    width: 100%;
    padding: 0 32px;
    text-align: center;
    font-size: 15px;
    color: var(--text-color);
    background: transparent;
    border: 0;
    border-radius: 0px;
  }
  button {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 5;
    background: rgba(var(--color-black-rgba), 0.05);
    text-decoration: none;
    color: rgba(17, 17, 17, 0.48);
    text-align: center;
    border: 0;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    margin-top: 4px;
    &:disabled, 
    &.disabled {
      opacity: 0.2;
      pointer-events: none;
      cursor: default;
    }
    svg.icon {
      width: 18px;
      height: 18px;
      fill: var(--color-d-8);
      display: block;
      margin: 0 auto;
    }
  }
  &__plus {
    right: 0;
  }
}

.test-navigation {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 5px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
  &__btn, &__hide {
    background: var(--color-d-2);
    border-radius: 50%;
    color: var(--color-black);
    font-size: 13px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__hide {
    &::before {
      content: '+';
      .show & {
        content: '-';
      }
    }
  }
  &__btn {
    display: none;
    .show & {
      display: block;
    }
  }
}

.app-save-cart {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-black-rgba), 0.4);
  overflow: hidden;
  &__wrapper {
    position: absolute;
    width: 298px;
    height: auto;
    background: var(--tg-theme-bg-color);
    box-shadow: 0px 5px 10px rgba(var(--color-black-rgba), 0.14), 0px 1px 18px rgba(var(--color-black-rgba), 0.12), 0px 3px 5px rgba(var(--color-black-rgba), 0.2);
    border-radius: 7px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    padding: 20px;
    p {
      line-height: 1.2;
    }
  }
  &__title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__btns {
    display: flex;
  }
  &__btn {
    flex-grow: 1;
    height: 34px;
    background: transparent;
    padding: 0 15px;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--color-d-1);
    &+* {
      // margin-left: 10px;
      color: var(--color-d-5);
    }
  }
}