@import "./_reboot.scss";
@import "./_font.scss";

*, *:before, *:after {
  box-sizing: border-box;
}
:root {
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #555555;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
}

html {
  line-height: 1.2;
  scrollbar-gutter: stable;
}

html, body {
  height: 100%;
  min-width: 320px;
  background: #fff;
}

body {
  font-family: var(--default-font);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: var(--tg-theme-secondary-bg-color, #0f0f0f);
  --text-color: #fff;
  --page-hint-color: #9b9ba1;
  --hint-color: #64666d;
  --placeholder-color: #5d6163;
}

#app, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #eee;
  border: 0;
  outline: none;
  font-weight: 500;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.btn {
  width: 100%;
  display: block;
  background: transparent;
  border: 1px solid #55BE61;
  border-radius: 7px;
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #55BE61;
  &:hover, &:focus, &:active {
    color: #55BE61;
    border-color: #55BE61;
    text-decoration: none;
  }
}

input {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.section {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  height: 100%;
  // border: 1px dashed pink;
  flex-grow: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #EB6161;
  }
}

.section1 {
  background: url('../images/section-1-bg.jpg') top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 117px;
    background: transparent;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12)) drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    &-round {
      position: absolute;
      top: 26px;
      // width: 785px;
      width: 170%;
      height: 235px;
      background: #fff;
      border-radius: 25px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px 0 22px;
      position: relative;
      z-index: 2;
    }
    &-btn {
      padding: 4px 0  0 0;
      border: 0;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #555555;
      font-size: 11px;
      text-align: center;
      position: relative;
      font-weight: 700;
      &::before, &::after {
        content: '';
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
      &::after {
        width: 52px;
        height: 52px;
        background: #fff;
        top: 0;
        z-index: 1;
      }
      svg {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 4;
        margin: 10px;
        fill: #fff;
        &+span {
          margin-top: 7px;
          line-height: 1;
          width: 70px;
        }
      }
      &.--your-pharmacy {
        top: 9px;
        &::before {
          background: #55BE61;
        }
      }
      &.--catalog {
        &::before {
          background: #34B9F1;
        }
      }
      &.--settings {
        top: 9px;
        &::before {
          background: #F3C04B;
        }
      }
    }
  }
  &__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 117px;
  }
}

.app-button-status {
  flex-shrink: 0;
  background: #55BE61;
  color: #fff;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &>* {
    line-height: 1;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    &>span {
      line-height: 20px;
      display: block;
    }
  }
  &__count {
    width: 20px;
    padding: 0 2px;
    border-radius: 50%;
    background: #fff;
    color: #55BE61;
    margin-right: 10px;
  }
}

.btn-buy {
  background-color: #55BE61;
  font-size: 21px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.you-pharmacy-line {
  height: 30px;
  background: #55BE61;
  flex-shrink: 0;
  // color: rgba(255,255,255,0.2);
  color: #fff;
  text-align: center;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(255,255,255, 0.7);
  font-weight: 400;
  &__btn {
    background: transparent;
    border: 0;
    padding: 0;
    font-weight: 400;
    min-width: 1px;
    span {
      border-bottom: 1px dashed currentColor;
      color: #fff;
      display: block;
      line-height: 1.1;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 8px 0;
    }
  }
  &__text {
    margin: 9px 5px 0 0;
    line-height: 1;
    flex-shrink: 0;
  }
  svg {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    flex-shrink: 0;
    fill: #fff;
  }
}

.search {
  flex-shrink: 0;
  margin: 20px;
  position: relative;
  &__input {
    width: 100%;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 150px;
    border: 0;
    padding: 0 80px 0 38px;
    color: black;
    background: #fff;
  }
  [class*="__btn-"] {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    top: 5px;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: #97A0A7;
    }
  }
  &__btn-search {
    pointer-events: none;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 12px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__btn-barcode {
    right: 10px;
  }
  &__btn-microphone {
    right: 40px;
  }
}

.app-modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: calc(100% - 98px);
    // height: 100%;
  }
  &__close {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 20px;
    top: -60px;
    position: absolute;
    svg {
      fill: #393939;
      width: 26px;
      height: 26px;
      display: block;
      margin: 0 auto;
    }
  }
  &__head {
    height: 80px;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #000;
    &-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 50%;
      background: #eee;
      overflow: hidden;
      &.--your-pharmacy {
        background: #55BE61;
      }
      &.--settings {
        background: #F3C04B;
      }
      svg {
        margin: 8px;
        fill: #fff;
        width: 24px;
        height: 24px;
      }
    }
    &-span {
      line-height: 40px;
    }
  }
  &__content {
    background: #fff;
    border-radius: 25px 25px 0 0;
    overflow: auto;
    max-height: calc(100vh - 98px);
    height: auto;
    &-wrapper {
      font-weight: 400;
      padding: 30px 20px;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.you-pharmacy {
  margin: -30px -20px;
  font-weight: 500;
  &__bottom {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    background: #fff;
  }
  &__item {
    min-height: 76px;
    padding-left: 79px;
    position: relative;
    display: flex;
    align-items: center;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 79px;
      background: #E0E0E0;
    }
    .form-switch {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
    }
    &-row {
      line-height: 1.2;
      margin: 5px 0;
      small {
        display: block;
        color: #97A0A7;
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}

.form-switch {
  position: relative;
  width: 30px;
  height: 13px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        background: #50A7EA;
        &::before {
          border-color: #50A7EA;
          left: 13px;
        }
      }
    }
  }
  &__div {
    height: 13px;
    width: 30px;
    background: #C4C4C4;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2px;
      width: 19px;
      height: 19px;
      border-radius: 12px;
      background: #fff;
      border: 2px solid #C4C4C4;
      transition: all .2s;
    }
  }
}

.app-settings {
  margin: -30px -20px;
  font-weight: 500;
  &__head {
    padding: 8px 20px;
    font-size: 11px;
    color: #50A7EA;
  }
  &__item {
    min-height: 76px;
    padding-left: 79px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 79px;
      background: #E0E0E0;
    }
    .form-radio {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
    }
    &-row {
      line-height: 1.2;
      margin: 5px 0;
      small {
        display: block;
        color: #97A0A7;
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}

.form-radio {
  position: relative;
  width: 19px;
  height: 19px;
  margin: 0;
  display: block;
  &__input {
    position: absolute;
    margin: 0;
    z-index: -1;
    opacity: 0;
    &:checked {
      &+* {
        border-color: #50A7EA;
        &::before {
          background: #50A7EA;
        }
      }
    }
  }
  &__div {
    height: 20px;
    width: 20px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    transition: all .2s;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #fff;
      transition: all .2s;
    }
  }
}

.search2 {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  right: 0;
  &__input {
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: 0;
    padding: 0 80px 0 20px;
    color: black;
    background: #fff;
  }
  [class*="__btn-"] {
    position: absolute;
    background: transparent;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    top: 20px;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0 auto;
      fill: #97A0A7;
    }
  }
  &__btn-barcode {
    right: 10px;
  }
  &__btn-microphone {
    right: 40px;
  }
  &__btn-close {
    right: 10px;
    svg.icon {
      width: 24px;
      height: 24px;
    }
  }
}

.search-list {
  padding-top: 70px;
  padding-bottom: 10px;
  &__head {
    font-size: 14px;
    background: #F6F6F6;
    padding: 15px 20px;
    color: #97A0A7;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    min-height: 62px;
    svg.icon {
      width: 18px;
      height: 18px;
      fill: #97A0A7;
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-text {
      flex-grow: 1;
      line-height: 1.1;
      small {
        display: block;
        font-size: 13px;
        color: #97A0A7;
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 20px;
      background: #E0E0E0;
    }
    &-count {
      min-width: 18px;
      text-align: center;
      font-size: 13px;
      color: #97A0A7;
      flex-shrink: 0;
      margin-left: 10px;
    }
  }
  &__item2 {
    display: flex;
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-text {
      flex-grow: 1;
      line-height: 1.1;
      small {
        display: block;
        font-size: 13px;
        color: #97A0A7;
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: #E0E0E0;
    }
    &-price {
      font-size: 13px;
      color: #55BE61;
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}

.catalog-list {
  padding-bottom: 10px;
  &__item {
    display: flex;
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: relative;
    min-height: 80px;
    &-text {
      flex-grow: 1;
      line-height: 1.2;
      small {
        display: block;
        font-size: 13px;
        color: #97A0A7;
        margin-top: 3px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1px;
      left: 100px;
      background: #E0E0E0;
    }
    &-price {
      font-size: 13px;
      color: #55BE61;
      flex-shrink: 0;
      margin-left: 10px;
    }
    &-thumb {
      width: 60px;
      flex-shrink: 0;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
  }
}

.catalog-list2 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 1px;
    left: 0px;
    background: #e0e0e0;
  }
  &__item {
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    &:nth-child(even) {
      border-right: 0;
      border-left: 1px solid #e0e0e0;
    }
    &-thumb {
      position: relative;
      overflow: hidden;
      margin: 0 auto 10px;
      width: 120px;
      height: 120px;
      img {
        width: 120px;
        height: 120px;
        object-fit: contain;
      }
    }
    &-text {
      line-height: 1.2;
      font-size: 13px;
      small {
        display: block;
        font-size: 10px;
        color: #97A0A7;
        margin-top: 5px;
      }
    }
    &-price {
      font-size: 13px;
      color: #55BE61;
      flex-shrink: 0;
      margin-bottom: 10px;
      line-height: 1;
    }
  }
}

.category-head {
  display: flex;
  padding: 15px 20px 40px 15px;
  align-items: center;
  &>.div1 {
    flex-grow: 1;
  }
  &>.div2 {
    flex-shrink: 0;
    margin-left: 10px;
  }
  &__title {
    font-size: 17px;
    color: #000000;
    line-height: 1.2;
  }
  &__count {
    color: #97A0A7;
    font-size: 13px;
    margin-top: 10px;
    line-height: 1;
    position: absolute;
  }
}

.category-view {
  display: flex;
  align-items: center;
  &__btn {
    background: transparent;
    text-decoration: none;
    padding: 0;
    border: 0;
    width: 30px;
    height: 30px;
    .icon {
      width: 24px;
      height: 24px;
      fill: #97A0A7;
      display: block;
      margin: 0 auto;
    }
    &+* {
      margin-left: 4px;
    }
    &.active {
      .icon {
        fill: #55BE61;
      }
    }
  }
}

.catalog-head {
  display: flex;
  background: #E0E0E0;
  min-height: 50px;
  &>div {
    width: 50%;
    &+div {
      border-left: 1px solid #E0E0E0;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 10px;
    }
    &-count {
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: 10px;
      color: #fff;
      font-size: 13px;
      background: #55BE61;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}