.catalog-list.j_test_22
  - for (var i=0; i<=3; i++) {
  .catalog-list__item
    .catalog-list__item-thumb
      img(src="./tmp/img-1.jpg", width="60" height="60" alt="")
    .catalog-list__item-text Расторопши плоды 200г
      small Дарниця | Украина
    .catalog-list__item-price от 62,68 ₴
  .catalog-list__item
    .catalog-list__item-thumb
      img(src="./tmp/img-2.jpg", width="60" height="60" alt="")
    .catalog-list__item-text Расторопши плоды 200г Solution Pharm
      small Дарниця | Украина
    .catalog-list__item-price от 175,60 ₴
  .catalog-list__item
    .catalog-list__item-thumb
      img(src="./tmp/img-3.jpg", width="60" height="60" alt="")
    .catalog-list__item-text Расторопши плоды 200г
      small Дарниця | Украина
    .catalog-list__item-price от 28,90 ₴
  - }