.catalog-list2.j_test_22
  - for (var i=0; i<=4; i++) {
  .catalog-list2__item
    .catalog-list2__item-thumb
      img(src="./tmp/img-2_2.jpg", width="120" height="120" alt="")
    .catalog-list2__item-price от 175,120 ₴
    .catalog-list2__item-text Расторопши плоды 200г Solution Pharm
      small Дарниця | Украина
  .catalog-list2__item
    .catalog-list2__item-thumb
      img(src="./tmp/img-3_2.jpg", width="120" height="120" alt="")
    .catalog-list2__item-price от 28,90 ₴
    .catalog-list2__item-text Расторопши плоды 200г
      small Дарниця | Украина
  .catalog-list2__item
    .catalog-list2__item-thumb
      img(src="./tmp/img-1_2.jpg", width="120" height="120" alt="")
    .catalog-list2__item-price от 62,68 ₴
    .catalog-list2__item-text Расторопши плоды 200г
      small Дарниця | Украина
  - }