.menu
  button(type="button").menu__btn-top.j_test_58
    svg.icon
      use(href='#menu_color')
    span Меню
  button(type="button" style="display: none").menu__btn-top.j_test_59
    svg.icon
      use(href='#menu_color_2')
    span Закрыть меню
  .menu__wrapper(style="display: none")
    button(type="button").menu__btn.--home.j_test_60
      svg.icon
        use(xlink:href='#home')
      span Главная
    button(type="button").menu__btn.--your-pharmacy.j_test_02
      svg.icon
        use(xlink:href='#vasha_apteka')
      span Ваша аптека
    button(type="button").menu__btn.--catalog.j_test_19
      svg.icon
        use(xlink:href='#catalog')
      span Каталог товаров
    button(type="button").menu__btn.--favorites.j_test_44
      svg.icon
        use(xlink:href='#favorites')
      span Избранные товары
    button(type="button").menu__btn.--settings.j_test_05
      svg.icon
        use(xlink:href='#settings')
      span Настройки